.widgets-section {
  height: 40px;
  overflow: hidden;

  h4 a {
    float: right;
    display: inline-block;
    font-size: 14px;
  }

  &.active {
    height: auto;
    overflow: visible;
  }
}

.table-hover {
  tr {
    cursor: pointer;
  }
}

tr {
  td.date {
    font-size: 11px;
    line-height: 12px;
    text-align: center;

    i {
      color: #999999;
      font-style: normal;
      font-size: 14px;
    }
  }
}

tr[class*="notice-more"] {
  display: none;
  background: #FAFAFA;
}

.pagination {
  .btn {
    width: 35px;
    text-align: center;
    padding: 4px 0;
    margin: 0 0 4px 0;
    font-size: 12px;
  }
}