@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu/ubuntu-l-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #414141;
  font-size: 14px;
}

h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Istok Web', sans-serif;
  position: relative;

  .stars {
    display: inline-block;
    position: relative;
    top: -12px;
    left: 10px;
    height: 10px;
    i {
      background: url("../images/star.png") center center no-repeat;
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-left: 3px;
    }
  }
}

span.red {
  color: #ff0000;
}

hr {
  border: none;
  border-top: 1px solid #eeeeee;
  height: 1px;
  margin: 0 0 40px 0;
  display: block;
  width: 100%;
}

.orange-link {
  color: #F48A00;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed #F48A00;

  &:hover {
    border-color: #ffffff;
  }
}

.message {
  padding: 5px;
  border: 1px solid #eeeeee;

  &.green {
    border-color: green;
    background-color: #aaccaa;
    color: green;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
  position: relative;
  color: #6a6a6a;
  font-weight: 400;

  .sys-link {
    text-transform: none;
    margin: 0 0 0 10px;
    display: inline-block;
    color: #038BB2;
    font-weight: 100;
    font-style: italic;
  }
}

.f-left { float: left; }
.f-right { float: right; }
.c-left { clear: left; }
.c-right { clear: right; }
.c-both { clear: both; }

.wrap {
  width: 990px;
  margin: 0 auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.form-errors {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
  padding: 14px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}


#header {
  padding: 24px 0;

  .login {
    margin: 0 0 20px 0;

    .register-menu-trigger {
      display: inline-block;

      &:hover {
        .register-menu {
          display: block;
        }
      }
    }

    .register-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      position: absolute;
      display: none;
      background: #fff7db;
      border: 1px solid #f48a00;
      z-index: 9999;

      a:hover {
        text-decoration: underline;
        color: #f48a00;
        background: none;
      }
    }

    a {
      display: inline-block;
      height: 26px;
      line-height: 26px;
      padding: 0 15px;
      text-decoration: none;
      font-size: 14px;
      color: #038bb2;
      font-weight: 100;

      &:hover, &.active {
        background: #f48a00;
        color: #ffffff;
      }
    }
  }

  .main-menu {
    float: right;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: block;
      float: left;
      line-height: 33px;
      height: 33px;
      background: url("../images/separator.png") right center no-repeat;
      padding: 0 35px 0 20px;

      a {
        font-size: 17px;
        color: #414141;
        font-weight: 100;
        text-decoration: none;

        &:hover, &.active {
          color: #038bb2;
        }
      }

      &:last-child {
        background: none;
        padding: 0 0 0 20px;
      }
    }
  }
}

.column-left {
  float: left;
  width: 250px;
  margin: 0 10px 0 0;

  &.inner {
    width: 320px;
  }

  .block {
    margin: 0 0 20px 0;
  }
}

.main-col {
  width: 660px;
  float: left;
  padding: 0 0 30px 0;

  &.wide {
    width: 990px;
  }

  .block-random-hotels {
    border: none;
    padding: 0;
    margin-bottom: 15px;

    .content {
      border: 0;
      ul {

        li {
          margin: 0 20px 0 0;
          width: 204px;

          img {
            width: 188px;
            height: 130px;
          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }

  }

  .block-subscription {
    width: 240px;
    margin: 0 0 30px 0;

    .content {
      padding: 22px 15px 23px 15px;
    }
  }
}

.column-middle {
  float: left;
  width: 710px;
  margin: 0 30px 0 0;
}

.column-right {
  float: left;
  width: 250px;
}

.block-search {
  background: #f2f2f3;
  width: 275px;
  padding: 30px 25px 35px 18px;

  .title {
    font-size: 24px;
    font-family: 'Istok Web', sans-serif;
  }

  .content {
    .info {
      font-size: 14px;
      font-weight: 100;
      border-bottom: 1px solid #cccccc;
      padding: 10px 0;
    }

    form {
      border-top: 1px solid #ffffff;
      padding: 25px 0 0 0;

      .form-row {
        margin: 0 0 15px 0;

        &:after { display: block; content: ""; clear: both}

        &:last-child {
          margin: 0;
        }

        label {
          font-size: 14px;
          font-weight: 100;
          margin: 0 0 10px 0;
          display: block;
        }

        input[type="text"] {
          height: 34px;
          line-height: 34px;
          width: 250px;
          padding: 0 10px;
          font-size: 14px;

          &:focus {
            outline: none;
            box-shadow: none;
            border: 1px solid #f48a00;
            height: 36px;
            line-height: 36px;
            width: 252px;
          }
        }

        .date {
          width: 120px;

          input {
            width: 95px;

            font-size: 12px;
            line-height: 37px;

            background: #ffffff url("../images/date.png") 90px 2px no-repeat;

            &:focus {
              width: 97px;
              line-height: 37px;
            }
          }
        }

        .btn {
          width: 258px;
          height: 48px;
          line-height: 48px;
          box-sizing: content-box;
          color: #ffffff;
          text-align: center;
          font-size: 26px;
          background-color: #f48a00;
          -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
          -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
          box-shadow: 1px 1px 3px rgba(0,0,0,.2);
          border: solid 2px #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.block-slider {
  width: 660px;
  margin: 0 0 20px 0;

  .slide {
    width: 660px;
    position: relative;

    .info {
      display: block;
      position: absolute;
      right: 0;
      top: 45%;
      z-index: 999;

      .name {
        background: #f2f2f3;
        display: block;
        float: right;
        clear: both;
        padding: 10px 15px;
        color: #414141;
        font-size: 19px;
      }

      .price {
        background: #414141;
        display: block;
        float: right;
        clear: both;
        padding: 10px 15px;
        font-size: 17px;
        color: #ffffff;
      }

    }
  }
}

.block-random-hotels {
  border-bottom: 1px solid #e6e6e7;
  padding: 0 0 1px 0;
  margin: 0 0 34px 0;

  .content {
    border-bottom: 1px solid #e6e6e7;
    padding: 0 0 15px 0;

    ul {
      padding: 0;
      margin: 0;
      overflow: hidden;

      li {
        list-style: none;
        float: left;
        width: 222px;
        margin: 12px;

        a {
          text-decoration: none;
        }

        .img-wrap {
          border: 1px solid #e6e6e7;
          padding: 7px;
          display: block;
          position: relative;
          margin: 0 0 5px 0;

          img {
            display: block;
          }

          .go {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -20px 0 0 -47px;
            width: 96px;
            background: #414141;
            color: #ffffff;
            text-align: center;
            line-height: 40px;
            display: none;
          }

          .price {
            position: absolute;
            right: 7px;
            bottom: 16px;
            z-index: 10;
            background: rgba(255, 255, 255, .9);
            font-size: 14px;
            color: #000000;
            padding: 8px;
            display: block;
            font-family: 'Istok Web', sans-serif;
          }

          &:hover {
            border: 1px solid #b7b7b7;

            .go {
              display: block;
            }

            img {
              opacity: .2;
            }

            .price {
              display: none;
            }
          }
        }

        .name {
          display: block;
          color: #038bb2;
          font-size: 16px;
          margin: 0 0 5px 0;
        }

        .city {
          color: #414141;
          font-size: 13px;
          font-weight: 100;
        }

        .stars {
          float: right;

          i {
            background: url("../images/star.png") center center no-repeat;
            width: 8px;
            height: 8px;
            display: inline-block;
            margin-left: 3px;
          }
        }
      }
    }
  }
}

.block-info {
  margin: 0 0 50px 0;

  .content {
    overflow: hidden;

    .gray {
      display: block;
      float: left;
      width: 465px;
      font-size: 22px;
      color: #8d9597;
      text-transform: uppercase;
      margin: 0 0 25px 0;
      font-family: 'Istok Web', sans-serif;
    }

    .large {
      display: block;
      float: left;
      width: 465px;
      font-size: 40px;
      color: #414141;
      text-transform: uppercase;
      clear: left;
      font-family: 'Istok Web', sans-serif;
    }

    .description {
      display: block;
      width: 415px;
      float: right;
      font-size: 16px;
      line-height: 26px;
      color: #525249;
      font-weight: 100;
    }

    .advantages {
      .coll {
        float: left;
        width: 470px;

        &:first-child {
          margin-right: 50px;
        }

        h4 {
          font-size: 18px;
          text-transform: uppercase;
          color: #f48a00;
          font-weight: bold;
          font-family: Arial;
        }

        ol {
          margin: 0;
          padding: 0 0 0 25px;

          li {
            font-size: 18px;
            color: #f48a00;
            font-weight: bold;
            font-family: Arial;
            line-height: 24px;

            span {
              font-size: 14px;
              font-weight: 100;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

.block-cities {
  border-top: 1px solid #e6e6e7;
  border-bottom: 1px solid #e6e6e7;
  padding: 25px 20px 25px 0;
  margin: 0 0 40px 0;

  .title {
    color: #038bb2;
    font-size: 23px;
    font-family: 'Istok Web', sans-serif;
    text-transform: uppercase;
    margin: 0 0 14px 0;
  }

  .content {
    .description {
      color: #8d9697;
      font-size: 16px;
      margin: 0 0 25px 0;
    }

    ul {
      margin: 0;
      padding: 0;
      clear: both;
      overflow: hidden;

      li {
        list-style: none;
        overflow: hidden;
        margin: 0 0 24px 0;
        width: 300px;

        img {
          float: left;
          width: 104px;
          height: 104px;
          border-radius: 104px;
          margin: 0 11px 0 0;
        }

        .name {
          border-bottom: 1px solid #e6e6e7;
          padding: 0 0 10px 0;
          margin: 8px 0;

          a {
            color: #038bb2;
            font-size: 20px;
            text-decoration: none;

            &:hover {
              color: #414141;
            }

            span {
              font-size: 13px;
              color: #10cdcc;
              float: right;
              line-height: 22px;
              padding: 0 16px 0 0;
              background: url("../images/quotes.png") 100% 9px no-repeat;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .types {
          a {
            color: #038bb2;
            display: inline-block;
            text-decoration: none;
            font-size: 13px;
            font-weight: 100;
            white-space: nowrap;
            margin: 0 6px 4px 0;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .view-all {
      text-decoration: none;
      color: #038bb2;
      font-size: 15px;
      font-weight: 600;
      padding: 0 20px 0 0;
      background: url("../images/quotes.png") 100% 6px no-repeat;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block-viewed-hotels {
  padding: 25px 0;
  background: #f2f2f3;
  border-bottom: 1px solid #e6e6e7;
  margin: 0 0 25px 0;

  .title {
    padding: 0 9px;
    margin: 0 0 20px 0;
    font-size: 17px;
    font-family: 'Istok Web', sans-serif;

    a {
      color: #038bb2;
      text-decoration: none;
      font-size: 13px;
      float: right;
      line-height: 22px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .content {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 14px 9px;
        margin: 0;
        line-height: 16px;
        border-bottom: 1px solid #e6e6e7;
        border-top: 1px solid #ffffff;
        overflow: hidden;
        position: relative;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }

        a {
          text-decoration: none;

          img {
            width: 54px;
            height: 46px;
            border: 2px solid #ffffff;
            box-shadow: 0 0 1px rgba(0, 0, 0, .2);
            float: left;
            margin: 0 12px 0 0;
          }

          .name {
            display: block;
            color: #038bb2;
            font-size: 14px;
            font-weight: 100;
          }

          .stars {
            display: inline-block;
            margin: -4px 0 2px 0;
            position: absolute;
            i {
              background: url("../images/star.png") center center no-repeat;
              width: 8px;
              height: 8px;
              display: inline-block;
              margin-left: 3px;
            }
          }

          .price {
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: #414141;
            margin: 2px 0 0 0;
          }

          .city {
            font-size: 13px;
            font-weight: 100;
            color: #414141;
          }
        }

        .remove-viewed {
          background: #d2d2d2;
          display: block;
          position: absolute;
          top: 15px;
          right: 10px;
          color: #6a6a6a;
          width: 16px;
          height: 16px;
          line-height: 14px;
          font-weight: 100;
          text-align: center;
          text-decoration: none;
          border-radius: 16px;

          &:hover {
            background: #6a6a6a;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.block-subscription {
  width: 255px;
  margin: 0 0 20px 0;

  .title {
    font-size: 13px;
    color: #414141;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .content {
    padding: 20px 18px;
    background: url("../images/subscription-block-bg.png") top left repeat;

    .label {
      color: #222222;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 15px 0;

//      span {
//        text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
//      }
    }

    input[type="text"] {
      height: 29px;
      line-height: 29px;
      padding: 0 10px;
      width: 136px;
      background-color: #fff;
      -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.38);
      -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.38);
      box-shadow: inset 1px 1px 5px rgba(0,0,0,.38);
      border: solid 1px #d57a04;
      font-size: 14px;
    }

    .subscr-submit {
      width: 32px;
      height: 24px;
      background-color: #fff;
      -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
      -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
      box-shadow: 1px 1px 3px rgba(0,0,0,.2);
      border: solid 1px #f48a00;
      font-size: 15px;
      color: #000000;
      box-sizing: content-box;
      cursor: pointer;
    }
  }
}

.breadcrumbs {
  background: #f2f2f3 url("../images/home.png") 10px center no-repeat;
  padding: 7px 0 7px 25px;
  margin: 0 0 5px 0;

  span {
    padding: 0 20px 0 10px;
    background: url("../images/breadcrumb-spacer.png") 100% 8px no-repeat;

    &:last-child {
      background: none;
    }

    a {
      color: #038bb2;
      font-size: 12px;
      font-weight: 100;
      text-decoration: none;
    }
  }
}

.block-filter {
  width: 288px;

  .title {
    border-bottom: 1px solid #e6e6e7;
    margin:  0 0 1px 0;
    line-height: 24px;
    padding: 0 0 5px 0;
    font-size: 15px;
  }

  .content {
    border-top: 1px solid #e6e6e7;
    border-bottom: 1px solid #e6e6e7;

    .section {
      padding: 0 0 0 20px;
      border-bottom: 1px solid #e6e6e7;
      font-size: 13px;
      font-weight: 100;

      .label {
        color: #038bb2;
        font-size: 15px;
        background: url("../images/section-arrow.png") 0 5px no-repeat;
        padding: 0 0 0 22px;
        margin: 10px 0 10px -20px;

        &.closed {
          background: url("../images/section-arrow.png") 0 -14px no-repeat;
        }

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .body {
        margin: 0 0 15px 0;
      }

      &.price {
        span {
          width: 34px;
          display: inline-block;
          text-align: center;
        }

        input {
          width: 82px;
          height: 32px;
          line-height: 32px;
          border: 1px solid #bbbdbe;
          text-align: center;

          &:focus {
            border: 1px solid #f48a00;
            box-shadow: none;
            outline: none;
          }
        }
      }
    }

    .btn {
      width: 128px;
      height: 36px;
      line-height: 36px;
      box-sizing: content-box;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      background-color: #F48A00;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
      border: solid 2px #FFF;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      margin: 15px 0;
    }


    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0 0 5px 0;
      }
    }

    .hotels-filter-type a {
      color: #038bb2;
      font-size: 15px;
    }
  }
}

.block-results {
  .content {
    .sort {
      overflow: hidden;
      clear: both;
      margin: 0 0 25px 0;

      .sorting-types {
        float: left;
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          float: left;
          display: block;

          a {
            display: block;
            background: #f2f2f3;
            color: #038bb2;
            text-decoration: none;
            line-height: 36px;
            height: 36px;
            font-size: 13px;
            font-weight: 100;
            padding: 0 20px;
            margin: 0 5px 0 0;

            &:hover, &.active {
              background: #f48a00;
              color: #000000;
            }
          }
        }
      }

      .map {
        display: block;
        float: right;
        color: #ffffff;
        text-decoration: none;
        line-height: 36px;
        height: 36px;
        width: 162px;
        text-align: center;
        background: #038bb2;
        font-size: 13px;
        font-weight: 100;
      }
    }

    h1 {
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'Istok Web', sans-serif;
      position: relative;
      color: #6a6a6a;
      font-weight: 400;
    }

    .hotels {
      margin: 0;
      padding: 0;

      li {
        display: block;
        overflow: hidden;
        margin: 0 0 10px 0;
        border: 1px solid #e6e6e7;
        padding: 10px;

        &:hover {
          background: #f2f2f3;
        }

        .img-wrap {
          float: left;
          width: 240px;
          height: 145px;
          position: relative;
          border: 1px solid #e6e6e7;
          padding: 7px;
          background: #ffffff;

          img {
            width: 240px;
            height: 145px;
            display: block;
          }

          .price {
            position: absolute;
            right: 7px;
            bottom: 16px;
            z-index: 10;
            background: rgba(255, 255, 255, .9);
            font-size: 14px;
            color: #000000;
            padding: 8px;
            display: block;
            font-family: 'Istok Web', sans-serif;
          }
        }

        .info-wrap {
          float: left;
          width: 355px;
          padding: 0 0 0 25px;

          .name, .name a {
            color: #038bb2;
            font-size: 16px;
            margin: 0 0 10px 0;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .address {
            margin: 0 0 10px 0;
            font-size: 12px;
            .city {
              color: #038bb2;
            }
          }

          .type, .rooms {
            margin: 0 0 10px 0;
            font-size: 13px;
            color: #038bb2;

            b {
              color: #414141;
            }
          }

          .stars {
            margin: 0 0 2px 0;
            display: inline-block;

            i {
              background: url("../images/star.png") center center no-repeat;
              width: 8px;
              height: 8px;
              display: inline-block;
              margin-left: 3px;
            }
          }

          .buttons {
            margin: 15px 0 0 0;

            .btn {
              width: 158px;
              height: 36px;
              line-height: 36px;
              box-sizing: content-box;
              color: #FFF;
              text-align: center;
              font-size: 16px;
              background-color: #F48A00;
              -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
              border: solid 2px #FFF;
              cursor: pointer;
              display: inline-block;
              text-decoration: none;
            }

            .view-map {
              color: #038bb2;
              font-size: 14px;
              text-decoration: none;
              padding: 11px 0 11px 30px;
              margin: 0 0 0 10px;
              background: url("../images/map-icon.png") 0 4px no-repeat;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.hotel-details {
  margin: 0 0 35px 0;

  .hotel-header {
    .address {
      font-size: 16px;
      font-weight: 100;

      a {
        color: #038bb2;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &.view-map {
          font-size: 13px;
          padding: 11px 0 11px 20px;
          margin: 0 0 0 10px;
          background: url("../images/map-icon.png") 0 4px no-repeat;
          background-size: 13px;
        }
      }
    }
  }

  .anchor-menu {
    ul {
      overflow: hidden;
      margin: 10px 0;
      padding: 0;

      li {
        list-style: none;
        float: left;
        display: block;
        margin: 0 20px 0 0;

        a {
          text-decoration: none;
          color: #038bb2;
          font-weight: 100;

          &:hover {
            color: #414141;
          }
        }
      }
    }
  }

  .photos-wrap {
    overflow: hidden;

    img {
      display: block;
    }

    .big {
      border: 1px solid #e6e6e7;
      padding: 4px;
      margin: 0 0 10px 0;
    }

    .ctrl {
      height: 72px;
      background: #e4e4e4 url("../images/gallery-ctrl.png") no-repeat;
      width: 26px;
      margin-top: 4px;
      cursor: pointer;

      &.left {
        float: left;
        margin-right: 5px;
        background-position: 7px 22px;

        &:hover {
          background-position: 7px -34px;
        }
      }

      &.right {
        float: right;

        background-position: -23px 22px;

        &:hover {
          background-position: -23px -34px;
        }
      }
    }

    .thumbs {
      overflow: hidden;
      margin: 0;
      padding: 0;
      float: left;

      li {
        list-style: none;
        display: block;
        float: left;
        margin: 2px;
        border: 1px solid #e6e6e7;
        padding: 1px;

        img {
          opacity: .8;
          width: 113px;
          height: 72px;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .rooms-count {
    margin: 20px 0;
  }

  .description {
    font-weight: 100;
    line-height: 22px;
  }

  .section {
    padding: 0 0 10px 0;
    margin: 10px 0;

    .label {
      background: #f2f2f3;
      height: 38px;
      line-height: 38px;
      font-size: 17px;
      padding: 0 13px;
      margin: 0 0 10px 0;
    }

    &.contacts {
      border-bottom: 1px solid #e6e6e7;

      .body {
        padding: 0 10px;
      }

      span.label {
        border-radius: 3px;
        font-size: 11px;
        line-height: 20px;
        height: 20px;
        display: inline-block;
      }
    }
  }

  .hotel-contacts {
    margin: 0 0 25px 0;
    list-style: none;
    padding: 0;

    li {
      margin: 0 0 15px 0;
      font-weight: 100;

      a {
        color: #038bb2;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      b {
        font-size: 14px;
        display: inline-block;
        width: 80px;
      }
    }

  }
}

#footer {
  background: url("../images/footer-bg.png") top left repeat;
  padding: 16px 0 20px 0;

  .block {
    float: left;

    &.block-menu {
      border-right: 1px solid #7f7f7f;
      padding: 5px 40px 0 0;
      margin: 0 40px 0 0;
    }

    &.menu-company {
      width: 80px;
    }

    &.menu-hotels {
      width: 285px;
    }

    &.menu-additions {
      width: 138px;
      border: none;
    }

    .title {
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 30px;
      line-height: 22px;
      font-weight: 100;
    }

    .menu {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        line-height: 25px;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 13px;
          font-weight: 100;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.block-contacts {
  float: right;
  width: 240px;

  .content {
    color: #ffffff;
    font-family: 'Istok Web', sans-serif;
    text-align: right;

    .social {
      margin: 13px 0 20px 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;

        a {
          display: block;
          width: 32px;
          height: 32px;

          &.fb {
            background: url("../images/fb.png") top left no-repeat;
          }

          &.tw {
            background: url("../images/tw.png") top left no-repeat;
          }

          &.vk {
            background: url("../images/vk.png") top left no-repeat;
          }
        }
      }
    }

    .phone {
      font-size: 22px;
      margin: 0 0 10px 0;
    }

    .copyright {
      font-size: 13px;
    }
  }
}

.form {
  ul {
    padding: 0;
    margin: 10px 0 40px 0;

    li > .title {
      height: 34px;
      line-height: 34px;
      width: 300px;
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      padding-top: 4px;
    }

    &.requisites li > .title {
      width: 500px;
    }

    &.vertical li {
      margin: 10px 0;

      .title {
        line-height: 24px;
        height: 24px;
      }
    }

    &.photos {
      overflow: hidden;
      width: 1110px;

      li {
        list-style: none;
        float: left;
        margin: 0 20px 20px 0;
        position: relative;

        &:first-child {
          border: 2px solid #f48a00;
          margin: 0 16px 16px 0;
        }

        img {
          display: block;
        }

        .remove-photo {
          position: absolute;
          right: 0;
          bottom: 0;
          display: block;
          color: #ffffff;
          background-color: #000000;
          text-decoration: none;
          padding: 2px 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .ta-r {
    text-align: right;
    width: 580px;
  }

  .input_base {
    padding: 0 10px;
    font-size: 14px;
    box-sizing: content-box;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid #f48a00;
    }
  }

  input[type="text"], input[type="password"] {
    .input_base;

    height: 34px;
    line-height: 34px;
    width: 255px;

    &:focus {
      height: 36px;
      line-height: 36px;
      padding: 0 11px;
    }
  }

  .ui-spinner {
    position: relative;

    .ui-spinner-input {
      height: 34px;
      line-height: 34px;
      width: 100px;
      margin: 0;
      background: #ffffff;
      border-radius: 0;
      padding: 0 10px;
    }

    .ui-spinner-button {
      cursor: pointer;

      &.ui-spinner-up {
        position: absolute;
        border: none;
        top: 4px;
        right: 5px;
        width: 24px;
        height: 12px;
        display: block;
        background: url(../_images/form-sprite.png) no-repeat -37px 0;
      }

      &.ui-spinner-down {
        position: absolute;
        border: none;
        top: 17px;
        right: 5px;
        width: 24px;
        height: 12px;
        display: block;
        background: url(../_images/form-sprite.png) no-repeat -37px -11px;
      }

      .ui-button-text {
        display: none;
      }
    }

    .big-stars {
      display: inline-block;
      overflow: hidden;
      margin-bottom: 18px;
      line-height: 37px;
      vertical-align: middle;
      margin-left: 10px;
    }


  }

  .chosen-container {
    display: inline-block;
    width: 255px;

    .chosen-drop {
      width: 277px;

      .chosen-search input {
        background: none;
      }

      li {
        cursor: pointer;
      }
    }

    .chosen-single {
      height: 36px;
      line-height: 36px;
      width: 255px;
      background: none;
      border: none;
      margin: 0;
      padding: 0 11px;
      border: 1px solid #aaaaaa;
      border-radius: 0;

      div b {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 5px;
        top: 5px;
        background: url(../_images/form-sprite.png) no-repeat 0 0;
        cursor: pointer;
      }
    }
  }

  textarea {
    .input_base;
    padding: 5px 10px;
    height: 150px;
    resize: none;
    width: 97% ;
  }

  .btn {
    width: 158px;
    height: 36px;
    line-height: 36px;
    box-sizing: content-box;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    background-color: #F48A00;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border: solid 2px #FFF;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }

}

.tabs {
  clear: both;
  margin: 10px 0 20px 0;
  padding: 0;
  overflow: hidden;

  li {
    display: block;
    float: left;
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee;

    a {
      text-decoration: none;
      font-size: 14px;
      color: #038bb2;
      font-weight: 100;

      &:hover {
        color: #f48a00;
      }
    }

    &.active {
      border-top: 1px solid #eeeeee;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      border-bottom: none;

      a {
        color: #f48a00;
      }
    }
  }
}

.services-table {
  border-collapse: collapse;

  span.blue {
    color: #0066cc;
  }

  span.green {
    color: #009900;
  }

  span.gray {
    color: #6a6a6a;
  }

  td, th {
    height: 50px;
    vertical-align: middle;
    padding: 5px 10px;
  }

  td {
    font-weight: 100;
  }

  .price {
    width: 450px;
    text-align: center;
    background: #fafafa;
    border-left: 1px solid #eeeeee;
  }

  td.name  {
    background: #f4f4f4;

    .icon-question-sign {
      opacity: .4;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }
    }
  }

  th.price {
    background: #f4f4f4;
  }

  .actions {
    width: 150px;
    text-align: center;
  }

  .spacer td {
    height: 5px;
  }
}

.chosen-container-multi {
  width: 281px !important;
}

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  position: absolute !important;
}

.messages-history {
  margin: 0;
  padding: 0;
  clear: both;

  li {
    display: block;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin: 0 0 15px 0;

    .date {
      border-bottom: 1px dashed #eeeeee;
      padding: 0 0 5px 0;
      margin: 0 0 10px 0;
      font-size: 12px;
      font-style: italic;
      font-weight: 100;
    }
  }
}

.big-stars.edit {
  margin:10px 0 0 10px;
  padding-bottom: 6px;
}

.pager {
  margin: 30px 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 2px;
    border: 1px solid #038BB2;

    &.active {
      background: #038BB2;
      span {
        font-size: 16px;
        color: #ffffff;
        padding: 3px 5px;
        display: block;
      }
    }

    a {
      text-decoration: none;
      color: #038BB2;
      font-size: 13px;
      padding: 3px 5px;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cities.links {
  a {
    text-decoration: none;
    color: #f48a00;
    display: inline-block;
    border-bottom: 1px dashed #f48a00;
    padding: 0 0 3px 0;
    margin: 0 10px 0 0;

    &.active {
      background: #f48a00;
      color: #ffffff;
      border-radius: 10px;
      padding: 2px 15px;
    }
  }
}

table.cities {
  width: 100%;
  margin: 50px 0 ;

  td {
    vertical-align: top;

    h2 {
      background: #f48a00;
      display: inline-block;
      color: #ffffff;
      padding: 0 10px;
      margin: 20px 0 5px 0;
    }

    ul {
      list-style: none;
      padding: 0 0 0 10px;
      margin: 0;

      li {
        a {
          text-decoration: none;
          color: #414141;
          font-size: 14px;
          line-height: 20px;

          &:hover {
            color: #038BB2;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.regions td h2 {
    font-size: 13px;
    line-height: 23px;
  }
}

#rooms-wrap {
  .lbW-room-wrap {
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #e6e6e7;
    overflow: hidden;
    position: relative;

    &:hover {
      background: #f2f2f3;
    }

    .lbW-room-photo-wrap {
      float: left;
      margin: 0 28px 0 0;

      .lbW-room-photo {
        border: 1px solid #e7e7e7;
        padding: 4px;
        background: #ffffff;
        display: block;
        width: 206px;
        height: 108px;
      }
    }

    .lbW-room-price-wrap {
      background: rgba(255,255,255,.6);
      padding: 10px 16px;
      position: absolute;
      top: 85px;
      right: 431px;
    }

    .lbW-room-name-wrap {
      margin: 0 0 60px 0;

      .lbW-room-name {
        color: #038bb2;
        font-size: 16px;
        font-family: Ubuntu;
      }
    }

    .lbW-room-booking-button-wrap {
      position: absolute;
      right: 20px;
      top: 80px;

      .lbW-room-booking-button {
        display: inline-block;
        width: 144px;
        height: 38px;
        line-height: 38px;
        box-sizing: content-box;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        background-color: #F48A00;
        -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        border: solid 2px #FFF;
        cursor: pointer;
      }
    }

    .lbW-booking-form-wrap {
      clear: both;
      float: left;
      border-top: 1px dashed #cccccc;
      margin: 20px 0 0 0;
      padding: 20px 0 0 0;
      width: 100%;
      display: none;

      .send {
        display: inline-block;
        width: 144px;
        height: 38px;
        line-height: 38px;
        box-sizing: content-box;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        background-color: #F48A00;
        -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        border: solid 2px #FFF;
        cursor: pointer;
        float: right;
      }
    }
  }
}

#booking-tabs {
  background: none;
  border: none;
  padding: 0;

  .ui-tabs-nav {
    background: none;
    border: none;
    padding: 0;
  }

  .ui-tabs-panel {
    padding: 0;
  }

  #grid {

    .header, .room-wrap {
      padding: 10px 0;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .header {
      .new-room {
        font-size: 14px;
        padding: 4px 10px 5px 10px;
        display: inline-block;
        border: 1px dashed #4b862c;
        color: #4b862c;
        text-decoration: none;
        border-radius: 15px;
        font-weight: 100;

        &:hover {
          background: #4b862c;
          color: #ffffff;
        }
      }

      .callendar-wrap {
        float: left;
        width: 790px;

        .days {
          margin: 0;
          padding: 0;
          overflow: hidden;
          line-height: 27px;

          li {
            width: 70px;
            float: left;
            display: block;
            text-align: center;
          }
        }
      }
    }

    .room-wrap {
      background: #fdfdfd;
      margin: 1px 0;
    }

    .name-wrap {
      float: left;
      width: 180px;
      padding: 0 10px;

      .name {
        color: #000000;
      }

      .meta {
        margin: 5px 0 0 0;
        font-size: 12px;

        .count {
          margin: 0 5px 0 0;
        }
      }
    }
  }

  #orders {

  }
}

// Bootstrap typeahead

.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.popover-title:empty {
  display: none;
}

.popover-content {
  padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}

/****/
@color-orange: #fead00;

.form .ui-spinner-button .ui-icon{
 margin : -8px 0 0 5px ;
}

//page contacts
#content{
    .page_title{
        color: @color-orange;
        font-size: 30px;
        font-family: 'ubunturegular';
        font-weight: normal;
        margin: 0px 0px 0px -7px;

    }
    .contacts_page{
        
        font-size: 18px;
        font-family: 'ubuntulight';
        margin: 0px 0px 0px -5px;
        .conwrap{
            float: left;
            margin: 50px 0px 0px 100px;
        }

        .contitle{
            font-family: 'ubuntubold';
            color: @color-orange;
            display: block;
            height: 50px;

            font-size: 18px;
            border-bottom:1px solid @color-orange;
            text-transform: uppercase;
            span {
                margin: 0px 0px 0px 40px;
            }

        }

        .email{
            margin: 50px 0px 0px 0px;
            .contitle{
                background: url("../images/pages/contacts_mail.png")  no-repeat;
                width:291px;

            }
           

        }
        .phone{
            .contitle{
                background: url("../images/pages/contacts_phone.png")  no-repeat;
                width: 217px;
                height: 44px;
                padding: 6px 0px 0px 0px;
            }
            p{
                line-height: 134%;
            } 

        }
        .managers{
            .contitle{
                background: url("../images/pages/contacts.png") no-repeat;
                width: 217px;
                .litle{
                    display: block;
                    font-family: 'ubunturegular';
                    font-size: 16px;
                    text-transform: lowercase;
                }

            }
           

        }
        p{
            font-family: 'ubuntulight';
            font-size: 15px;  
             line-height: 174%;
        }
        .line{
            height: 320px;
        }
        
    }
 
}
//~page contacts
//page about
.about_page{
    font-size: 14px;
    font-family: 'ubuntulight';
    margin: 0px 0px 0px -5px;
    .orange{
        color: @color-orange;
        font-family: 'ubuntubold';
        font-size: 18px;
    }
    .span{
        display: block;
        width: 960px;
        height: 1px;
        background: url("../images/pages/about_hr.png")  no-repeat;
        margin: 30px 0px 0px 0px;
        padding: 30px 0px 0px 0px;


    }
    .half{
        width: 47%;
        display: block;
    }
    .left{
        float: left; 
    }
    .right{
        float: right;
    }
    .full{

        display: block;
    }

    .last{
        padding-bottom: 60px;
    }
    .contitle{
        font-family: 'ubuntubold';
        color: @color-orange;
        display: block;
        font-size: 14px;
        border-bottom:1px solid @color-orange;
        width: 345px;
        height: 20px;
        span {
            margin: 0px 0px 0px 0px;
        }

    }
    ul{
        list-style-image: url("../images/pages/about_bird.png") ;
        margin: 16px 0px 0px -18px;
        li{
            
            width: 47%;
            height: 100px;
            vertical-align: top; 
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
        }
    }


}
//~page about
 
.moderation_info
{
    padding: 0 10px;
    line-height: 20px;
    background: #fafff4; 
    border: 2px solid #a3d49d; 
    border-radius: 5px;
    margin-bottom: 10px;
}

