@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu/ubuntu-r-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu/ubuntu-r-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-r-webfont.woff') format('woff'), url('../fonts/ubuntu/ubuntu-r-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/ubuntu/ubuntu-b-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu/ubuntu-b-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-b-webfont.woff') format('woff'), url('../fonts/ubuntu/ubuntu-b-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntulight';
  src: url('../fonts/ubuntu/ubuntu-l-webfont.eot');
  src: url('../fonts/ubuntu/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu/ubuntu-l-webfont.woff2') format('woff2'), url('../fonts/ubuntu/ubuntu-l-webfont.woff') format('woff'), url('../fonts/ubuntu/ubuntu-l-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #414141;
  font-size: 14px;
}
h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Istok Web', sans-serif;
  position: relative;
}
h1 .stars {
  display: inline-block;
  position: relative;
  top: -12px;
  left: 10px;
  height: 10px;
}
h1 .stars i {
  background: url("../images/star.png") center center no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 3px;
}
span.red {
  color: #ff0000;
}
hr {
  border: none;
  border-top: 1px solid #eeeeee;
  height: 1px;
  margin: 0 0 40px 0;
  display: block;
  width: 100%;
}
.orange-link {
  color: #F48A00;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed #F48A00;
}
.orange-link:hover {
  border-color: #ffffff;
}
.message {
  padding: 5px;
  border: 1px solid #eeeeee;
}
.message.green {
  border-color: green;
  background-color: #aaccaa;
  color: green;
}
h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
  position: relative;
  color: #6a6a6a;
  font-weight: 400;
}
h2 .sys-link {
  text-transform: none;
  margin: 0 0 0 10px;
  display: inline-block;
  color: #038BB2;
  font-weight: 100;
  font-style: italic;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.c-left {
  clear: left;
}
.c-right {
  clear: right;
}
.c-both {
  clear: both;
}
.wrap {
  width: 990px;
  margin: 0 auto;
}
.wrap:after {
  content: "";
  display: block;
  clear: both;
}
.form-errors {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
  padding: 14px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}
#header {
  padding: 24px 0;
}
#header .login {
  margin: 0 0 20px 0;
}
#header .login .register-menu-trigger {
  display: inline-block;
}
#header .login .register-menu-trigger:hover .register-menu {
  display: block;
}
#header .login .register-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  display: none;
  background: #fff7db;
  border: 1px solid #f48a00;
  z-index: 9999;
}
#header .login .register-menu a:hover {
  text-decoration: underline;
  color: #f48a00;
  background: none;
}
#header .login a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
  text-decoration: none;
  font-size: 14px;
  color: #038bb2;
  font-weight: 100;
}
#header .login a:hover,
#header .login a.active {
  background: #f48a00;
  color: #ffffff;
}
#header .main-menu {
  float: right;
  margin: 0;
  padding: 0;
}
#header .main-menu li {
  list-style: none;
  display: block;
  float: left;
  line-height: 33px;
  height: 33px;
  background: url("../images/separator.png") right center no-repeat;
  padding: 0 35px 0 20px;
}
#header .main-menu li a {
  font-size: 17px;
  color: #414141;
  font-weight: 100;
  text-decoration: none;
}
#header .main-menu li a:hover,
#header .main-menu li a.active {
  color: #038bb2;
}
#header .main-menu li:last-child {
  background: none;
  padding: 0 0 0 20px;
}
.column-left {
  float: left;
  width: 250px;
  margin: 0 10px 0 0;
}
.column-left.inner {
  width: 320px;
}
.column-left .block {
  margin: 0 0 20px 0;
}
.main-col {
  width: 660px;
  float: left;
  padding: 0 0 30px 0;
}
.main-col.wide {
  width: 990px;
}
.main-col .block-random-hotels {
  border: none;
  padding: 0;
  margin-bottom: 15px;
}
.main-col .block-random-hotels .content {
  border: 0;
}
.main-col .block-random-hotels .content ul li {
  margin: 0 20px 0 0;
  width: 204px;
}
.main-col .block-random-hotels .content ul li img {
  width: 188px;
  height: 130px;
}
.main-col .block-random-hotels .content ul li:last-child {
  margin: 0;
}
.main-col .block-subscription {
  width: 240px;
  margin: 0 0 30px 0;
}
.main-col .block-subscription .content {
  padding: 22px 15px 23px 15px;
}
.column-middle {
  float: left;
  width: 710px;
  margin: 0 30px 0 0;
}
.column-right {
  float: left;
  width: 250px;
}
.block-search {
  background: #f2f2f3;
  width: 275px;
  padding: 30px 25px 35px 18px;
}
.block-search .title {
  font-size: 24px;
  font-family: 'Istok Web', sans-serif;
}
.block-search .content .info {
  font-size: 14px;
  font-weight: 100;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
}
.block-search .content form {
  border-top: 1px solid #ffffff;
  padding: 25px 0 0 0;
}
.block-search .content form .form-row {
  margin: 0 0 15px 0;
}
.block-search .content form .form-row:after {
  display: block;
  content: "";
  clear: both;
}
.block-search .content form .form-row:last-child {
  margin: 0;
}
.block-search .content form .form-row label {
  font-size: 14px;
  font-weight: 100;
  margin: 0 0 10px 0;
  display: block;
}
.block-search .content form .form-row input[type="text"] {
  height: 34px;
  line-height: 34px;
  width: 250px;
  padding: 0 10px;
  font-size: 14px;
}
.block-search .content form .form-row input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #f48a00;
  height: 36px;
  line-height: 36px;
  width: 252px;
}
.block-search .content form .form-row .date {
  width: 120px;
}
.block-search .content form .form-row .date input {
  width: 95px;
  font-size: 12px;
  line-height: 37px;
  background: #ffffff url("../images/date.png") 90px 2px no-repeat;
}
.block-search .content form .form-row .date input:focus {
  width: 97px;
  line-height: 37px;
}
.block-search .content form .form-row .btn {
  width: 258px;
  height: 48px;
  line-height: 48px;
  box-sizing: content-box;
  color: #ffffff;
  text-align: center;
  font-size: 26px;
  background-color: #f48a00;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 2px #fff;
  cursor: pointer;
}
.block-slider {
  width: 660px;
  margin: 0 0 20px 0;
}
.block-slider .slide {
  width: 660px;
  position: relative;
}
.block-slider .slide .info {
  display: block;
  position: absolute;
  right: 0;
  top: 45%;
  z-index: 999;
}
.block-slider .slide .info .name {
  background: #f2f2f3;
  display: block;
  float: right;
  clear: both;
  padding: 10px 15px;
  color: #414141;
  font-size: 19px;
}
.block-slider .slide .info .price {
  background: #414141;
  display: block;
  float: right;
  clear: both;
  padding: 10px 15px;
  font-size: 17px;
  color: #ffffff;
}
.block-random-hotels {
  border-bottom: 1px solid #e6e6e7;
  padding: 0 0 1px 0;
  margin: 0 0 34px 0;
}
.block-random-hotels .content {
  border-bottom: 1px solid #e6e6e7;
  padding: 0 0 15px 0;
}
.block-random-hotels .content ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.block-random-hotels .content ul li {
  list-style: none;
  float: left;
  width: 222px;
  margin: 12px;
}
.block-random-hotels .content ul li a {
  text-decoration: none;
}
.block-random-hotels .content ul li .img-wrap {
  border: 1px solid #e6e6e7;
  padding: 7px;
  display: block;
  position: relative;
  margin: 0 0 5px 0;
}
.block-random-hotels .content ul li .img-wrap img {
  display: block;
}
.block-random-hotels .content ul li .img-wrap .go {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -47px;
  width: 96px;
  background: #414141;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  display: none;
}
.block-random-hotels .content ul li .img-wrap .price {
  position: absolute;
  right: 7px;
  bottom: 16px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  color: #000000;
  padding: 8px;
  display: block;
  font-family: 'Istok Web', sans-serif;
}
.block-random-hotels .content ul li .img-wrap:hover {
  border: 1px solid #b7b7b7;
}
.block-random-hotels .content ul li .img-wrap:hover .go {
  display: block;
}
.block-random-hotels .content ul li .img-wrap:hover img {
  opacity: .2;
}
.block-random-hotels .content ul li .img-wrap:hover .price {
  display: none;
}
.block-random-hotels .content ul li .name {
  display: block;
  color: #038bb2;
  font-size: 16px;
  margin: 0 0 5px 0;
}
.block-random-hotels .content ul li .city {
  color: #414141;
  font-size: 13px;
  font-weight: 100;
}
.block-random-hotels .content ul li .stars {
  float: right;
}
.block-random-hotels .content ul li .stars i {
  background: url("../images/star.png") center center no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 3px;
}
.block-info {
  margin: 0 0 50px 0;
}
.block-info .content {
  overflow: hidden;
}
.block-info .content .gray {
  display: block;
  float: left;
  width: 465px;
  font-size: 22px;
  color: #8d9597;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  font-family: 'Istok Web', sans-serif;
}
.block-info .content .large {
  display: block;
  float: left;
  width: 465px;
  font-size: 40px;
  color: #414141;
  text-transform: uppercase;
  clear: left;
  font-family: 'Istok Web', sans-serif;
}
.block-info .content .description {
  display: block;
  width: 415px;
  float: right;
  font-size: 16px;
  line-height: 26px;
  color: #525249;
  font-weight: 100;
}
.block-info .content .advantages .coll {
  float: left;
  width: 470px;
}
.block-info .content .advantages .coll:first-child {
  margin-right: 50px;
}
.block-info .content .advantages .coll h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #f48a00;
  font-weight: bold;
  font-family: Arial;
}
.block-info .content .advantages .coll ol {
  margin: 0;
  padding: 0 0 0 25px;
}
.block-info .content .advantages .coll ol li {
  font-size: 18px;
  color: #f48a00;
  font-weight: bold;
  font-family: Arial;
  line-height: 24px;
}
.block-info .content .advantages .coll ol li span {
  font-size: 14px;
  font-weight: 100;
  color: #000000;
}
.block-cities {
  border-top: 1px solid #e6e6e7;
  border-bottom: 1px solid #e6e6e7;
  padding: 25px 20px 25px 0;
  margin: 0 0 40px 0;
}
.block-cities .title {
  color: #038bb2;
  font-size: 23px;
  font-family: 'Istok Web', sans-serif;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}
.block-cities .content .description {
  color: #8d9697;
  font-size: 16px;
  margin: 0 0 25px 0;
}
.block-cities .content ul {
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
}
.block-cities .content ul li {
  list-style: none;
  overflow: hidden;
  margin: 0 0 24px 0;
  width: 300px;
}
.block-cities .content ul li img {
  float: left;
  width: 104px;
  height: 104px;
  border-radius: 104px;
  margin: 0 11px 0 0;
}
.block-cities .content ul li .name {
  border-bottom: 1px solid #e6e6e7;
  padding: 0 0 10px 0;
  margin: 8px 0;
}
.block-cities .content ul li .name a {
  color: #038bb2;
  font-size: 20px;
  text-decoration: none;
}
.block-cities .content ul li .name a:hover {
  color: #414141;
}
.block-cities .content ul li .name a span {
  font-size: 13px;
  color: #10cdcc;
  float: right;
  line-height: 22px;
  padding: 0 16px 0 0;
  background: url("../images/quotes.png") 100% 9px no-repeat;
}
.block-cities .content ul li .name a span:hover {
  text-decoration: underline;
}
.block-cities .content ul li .types a {
  color: #038bb2;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 100;
  white-space: nowrap;
  margin: 0 6px 4px 0;
}
.block-cities .content ul li .types a:hover {
  text-decoration: underline;
}
.block-cities .content .view-all {
  text-decoration: none;
  color: #038bb2;
  font-size: 15px;
  font-weight: 600;
  padding: 0 20px 0 0;
  background: url("../images/quotes.png") 100% 6px no-repeat;
}
.block-cities .content .view-all:hover {
  text-decoration: underline;
}
.block-viewed-hotels {
  padding: 25px 0;
  background: #f2f2f3;
  border-bottom: 1px solid #e6e6e7;
  margin: 0 0 25px 0;
}
.block-viewed-hotels .title {
  padding: 0 9px;
  margin: 0 0 20px 0;
  font-size: 17px;
  font-family: 'Istok Web', sans-serif;
}
.block-viewed-hotels .title a {
  color: #038bb2;
  text-decoration: none;
  font-size: 13px;
  float: right;
  line-height: 22px;
}
.block-viewed-hotels .title a:hover {
  text-decoration: underline;
}
.block-viewed-hotels .content ul {
  margin: 0;
  padding: 0;
}
.block-viewed-hotels .content ul li {
  list-style: none;
  padding: 14px 9px;
  margin: 0;
  line-height: 16px;
  border-bottom: 1px solid #e6e6e7;
  border-top: 1px solid #ffffff;
  overflow: hidden;
  position: relative;
}
.block-viewed-hotels .content ul li:first-child {
  border-top: none;
}
.block-viewed-hotels .content ul li:last-child {
  border-bottom: none;
}
.block-viewed-hotels .content ul li a {
  text-decoration: none;
}
.block-viewed-hotels .content ul li a img {
  width: 54px;
  height: 46px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0 12px 0 0;
}
.block-viewed-hotels .content ul li a .name {
  display: block;
  color: #038bb2;
  font-size: 14px;
  font-weight: 100;
}
.block-viewed-hotels .content ul li a .stars {
  display: inline-block;
  margin: -4px 0 2px 0;
  position: absolute;
}
.block-viewed-hotels .content ul li a .stars i {
  background: url("../images/star.png") center center no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 3px;
}
.block-viewed-hotels .content ul li a .price {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #414141;
  margin: 2px 0 0 0;
}
.block-viewed-hotels .content ul li a .city {
  font-size: 13px;
  font-weight: 100;
  color: #414141;
}
.block-viewed-hotels .content ul li .remove-viewed {
  background: #d2d2d2;
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  color: #6a6a6a;
  width: 16px;
  height: 16px;
  line-height: 14px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}
.block-viewed-hotels .content ul li .remove-viewed:hover {
  background: #6a6a6a;
  color: #ffffff;
}
.block-subscription {
  width: 255px;
  margin: 0 0 20px 0;
}
.block-subscription .title {
  font-size: 13px;
  color: #414141;
  line-height: 18px;
  margin-bottom: 10px;
}
.block-subscription .content {
  padding: 20px 18px;
  background: url("../images/subscription-block-bg.png") top left repeat;
}
.block-subscription .content .label {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px 0;
}
.block-subscription .content input[type="text"] {
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
  width: 136px;
  background-color: #fff;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.38);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.38);
  border: solid 1px #d57a04;
  font-size: 14px;
}
.block-subscription .content .subscr-submit {
  width: 32px;
  height: 24px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 1px #f48a00;
  font-size: 15px;
  color: #000000;
  box-sizing: content-box;
  cursor: pointer;
}
.breadcrumbs {
  background: #f2f2f3 url("../images/home.png") 10px center no-repeat;
  padding: 7px 0 7px 25px;
  margin: 0 0 5px 0;
}
.breadcrumbs span {
  padding: 0 20px 0 10px;
  background: url("../images/breadcrumb-spacer.png") 100% 8px no-repeat;
}
.breadcrumbs span:last-child {
  background: none;
}
.breadcrumbs span a {
  color: #038bb2;
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
}
.block-filter {
  width: 288px;
}
.block-filter .title {
  border-bottom: 1px solid #e6e6e7;
  margin: 0 0 1px 0;
  line-height: 24px;
  padding: 0 0 5px 0;
  font-size: 15px;
}
.block-filter .content {
  border-top: 1px solid #e6e6e7;
  border-bottom: 1px solid #e6e6e7;
}
.block-filter .content .section {
  padding: 0 0 0 20px;
  border-bottom: 1px solid #e6e6e7;
  font-size: 13px;
  font-weight: 100;
}
.block-filter .content .section .label {
  color: #038bb2;
  font-size: 15px;
  background: url("../images/section-arrow.png") 0 5px no-repeat;
  padding: 0 0 0 22px;
  margin: 10px 0 10px -20px;
}
.block-filter .content .section .label.closed {
  background: url("../images/section-arrow.png") 0 -14px no-repeat;
}
.block-filter .content .section .label:hover {
  text-decoration: underline;
  cursor: pointer;
}
.block-filter .content .section .body {
  margin: 0 0 15px 0;
}
.block-filter .content .section.price span {
  width: 34px;
  display: inline-block;
  text-align: center;
}
.block-filter .content .section.price input {
  width: 82px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #bbbdbe;
  text-align: center;
}
.block-filter .content .section.price input:focus {
  border: 1px solid #f48a00;
  box-shadow: none;
  outline: none;
}
.block-filter .content .btn {
  width: 128px;
  height: 36px;
  line-height: 36px;
  box-sizing: content-box;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background-color: #F48A00;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 2px #FFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 15px 0;
}
.block-filter .content ul {
  margin: 0;
  padding: 0;
}
.block-filter .content ul li {
  list-style: none;
  margin: 0 0 5px 0;
}
.block-filter .content .hotels-filter-type a {
  color: #038bb2;
  font-size: 15px;
}
.block-results .content .sort {
  overflow: hidden;
  clear: both;
  margin: 0 0 25px 0;
}
.block-results .content .sort .sorting-types {
  float: left;
  padding: 0;
  margin: 0;
}
.block-results .content .sort .sorting-types li {
  list-style: none;
  float: left;
  display: block;
}
.block-results .content .sort .sorting-types li a {
  display: block;
  background: #f2f2f3;
  color: #038bb2;
  text-decoration: none;
  line-height: 36px;
  height: 36px;
  font-size: 13px;
  font-weight: 100;
  padding: 0 20px;
  margin: 0 5px 0 0;
}
.block-results .content .sort .sorting-types li a:hover,
.block-results .content .sort .sorting-types li a.active {
  background: #f48a00;
  color: #000000;
}
.block-results .content .sort .map {
  display: block;
  float: right;
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;
  height: 36px;
  width: 162px;
  text-align: center;
  background: #038bb2;
  font-size: 13px;
  font-weight: 100;
}
.block-results .content h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Istok Web', sans-serif;
  position: relative;
  color: #6a6a6a;
  font-weight: 400;
}
.block-results .content .hotels {
  margin: 0;
  padding: 0;
}
.block-results .content .hotels li {
  display: block;
  overflow: hidden;
  margin: 0 0 10px 0;
  border: 1px solid #e6e6e7;
  padding: 10px;
}
.block-results .content .hotels li:hover {
  background: #f2f2f3;
}
.block-results .content .hotels li .img-wrap {
  float: left;
  width: 240px;
  height: 145px;
  position: relative;
  border: 1px solid #e6e6e7;
  padding: 7px;
  background: #ffffff;
}
.block-results .content .hotels li .img-wrap img {
  width: 240px;
  height: 145px;
  display: block;
}
.block-results .content .hotels li .img-wrap .price {
  position: absolute;
  right: 7px;
  bottom: 16px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  color: #000000;
  padding: 8px;
  display: block;
  font-family: 'Istok Web', sans-serif;
}
.block-results .content .hotels li .info-wrap {
  float: left;
  width: 355px;
  padding: 0 0 0 25px;
}
.block-results .content .hotels li .info-wrap .name,
.block-results .content .hotels li .info-wrap .name a {
  color: #038bb2;
  font-size: 16px;
  margin: 0 0 10px 0;
  text-decoration: none;
}
.block-results .content .hotels li .info-wrap .name:hover,
.block-results .content .hotels li .info-wrap .name a:hover {
  text-decoration: underline;
}
.block-results .content .hotels li .info-wrap .address {
  margin: 0 0 10px 0;
  font-size: 12px;
}
.block-results .content .hotels li .info-wrap .address .city {
  color: #038bb2;
}
.block-results .content .hotels li .info-wrap .type,
.block-results .content .hotels li .info-wrap .rooms {
  margin: 0 0 10px 0;
  font-size: 13px;
  color: #038bb2;
}
.block-results .content .hotels li .info-wrap .type b,
.block-results .content .hotels li .info-wrap .rooms b {
  color: #414141;
}
.block-results .content .hotels li .info-wrap .stars {
  margin: 0 0 2px 0;
  display: inline-block;
}
.block-results .content .hotels li .info-wrap .stars i {
  background: url("../images/star.png") center center no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 3px;
}
.block-results .content .hotels li .info-wrap .buttons {
  margin: 15px 0 0 0;
}
.block-results .content .hotels li .info-wrap .buttons .btn {
  width: 158px;
  height: 36px;
  line-height: 36px;
  box-sizing: content-box;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background-color: #F48A00;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 2px #FFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.block-results .content .hotels li .info-wrap .buttons .view-map {
  color: #038bb2;
  font-size: 14px;
  text-decoration: none;
  padding: 11px 0 11px 30px;
  margin: 0 0 0 10px;
  background: url("../images/map-icon.png") 0 4px no-repeat;
}
.block-results .content .hotels li .info-wrap .buttons .view-map:hover {
  text-decoration: underline;
}
.hotel-details {
  margin: 0 0 35px 0;
}
.hotel-details .hotel-header .address {
  font-size: 16px;
  font-weight: 100;
}
.hotel-details .hotel-header .address a {
  color: #038bb2;
  text-decoration: none;
}
.hotel-details .hotel-header .address a:hover {
  text-decoration: underline;
}
.hotel-details .hotel-header .address a.view-map {
  font-size: 13px;
  padding: 11px 0 11px 20px;
  margin: 0 0 0 10px;
  background: url("../images/map-icon.png") 0 4px no-repeat;
  background-size: 13px;
}
.hotel-details .anchor-menu ul {
  overflow: hidden;
  margin: 10px 0;
  padding: 0;
}
.hotel-details .anchor-menu ul li {
  list-style: none;
  float: left;
  display: block;
  margin: 0 20px 0 0;
}
.hotel-details .anchor-menu ul li a {
  text-decoration: none;
  color: #038bb2;
  font-weight: 100;
}
.hotel-details .anchor-menu ul li a:hover {
  color: #414141;
}
.hotel-details .photos-wrap {
  overflow: hidden;
}
.hotel-details .photos-wrap img {
  display: block;
}
.hotel-details .photos-wrap .big {
  border: 1px solid #e6e6e7;
  padding: 4px;
  margin: 0 0 10px 0;
}
.hotel-details .photos-wrap .ctrl {
  height: 72px;
  background: #e4e4e4 url("../images/gallery-ctrl.png") no-repeat;
  width: 26px;
  margin-top: 4px;
  cursor: pointer;
}
.hotel-details .photos-wrap .ctrl.left {
  float: left;
  margin-right: 5px;
  background-position: 7px 22px;
}
.hotel-details .photos-wrap .ctrl.left:hover {
  background-position: 7px -34px;
}
.hotel-details .photos-wrap .ctrl.right {
  float: right;
  background-position: -23px 22px;
}
.hotel-details .photos-wrap .ctrl.right:hover {
  background-position: -23px -34px;
}
.hotel-details .photos-wrap .thumbs {
  overflow: hidden;
  margin: 0;
  padding: 0;
  float: left;
}
.hotel-details .photos-wrap .thumbs li {
  list-style: none;
  display: block;
  float: left;
  margin: 2px;
  border: 1px solid #e6e6e7;
  padding: 1px;
}
.hotel-details .photos-wrap .thumbs li img {
  opacity: .8;
  width: 113px;
  height: 72px;
  cursor: pointer;
}
.hotel-details .photos-wrap .thumbs li img:hover {
  opacity: 1;
}
.hotel-details .rooms-count {
  margin: 20px 0;
}
.hotel-details .description {
  font-weight: 100;
  line-height: 22px;
}
.hotel-details .section {
  padding: 0 0 10px 0;
  margin: 10px 0;
}
.hotel-details .section .label {
  background: #f2f2f3;
  height: 38px;
  line-height: 38px;
  font-size: 17px;
  padding: 0 13px;
  margin: 0 0 10px 0;
}
.hotel-details .section.contacts {
  border-bottom: 1px solid #e6e6e7;
}
.hotel-details .section.contacts .body {
  padding: 0 10px;
}
.hotel-details .section.contacts span.label {
  border-radius: 3px;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  display: inline-block;
}
.hotel-details .hotel-contacts {
  margin: 0 0 25px 0;
  list-style: none;
  padding: 0;
}
.hotel-details .hotel-contacts li {
  margin: 0 0 15px 0;
  font-weight: 100;
}
.hotel-details .hotel-contacts li a {
  color: #038bb2;
  text-decoration: none;
}
.hotel-details .hotel-contacts li a:hover {
  text-decoration: underline;
}
.hotel-details .hotel-contacts li b {
  font-size: 14px;
  display: inline-block;
  width: 80px;
}
#footer {
  background: url("../images/footer-bg.png") top left repeat;
  padding: 16px 0 20px 0;
}
#footer .block {
  float: left;
}
#footer .block.block-menu {
  border-right: 1px solid #7f7f7f;
  padding: 5px 40px 0 0;
  margin: 0 40px 0 0;
}
#footer .block.menu-company {
  width: 80px;
}
#footer .block.menu-hotels {
  width: 285px;
}
#footer .block.menu-additions {
  width: 138px;
  border: none;
}
#footer .block .title {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 22px;
  font-weight: 100;
}
#footer .block .menu {
  margin: 0;
  padding: 0;
}
#footer .block .menu li {
  list-style: none;
  line-height: 25px;
}
#footer .block .menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 100;
}
#footer .block .menu li a:hover {
  text-decoration: underline;
}
.block-contacts {
  float: right;
  width: 240px;
}
.block-contacts .content {
  color: #ffffff;
  font-family: 'Istok Web', sans-serif;
  text-align: right;
}
.block-contacts .content .social {
  margin: 13px 0 20px 0;
  padding: 0;
}
.block-contacts .content .social li {
  list-style: none;
  display: inline-block;
}
.block-contacts .content .social li a {
  display: block;
  width: 32px;
  height: 32px;
}
.block-contacts .content .social li a.fb {
  background: url("../images/fb.png") top left no-repeat;
}
.block-contacts .content .social li a.tw {
  background: url("../images/tw.png") top left no-repeat;
}
.block-contacts .content .social li a.vk {
  background: url("../images/vk.png") top left no-repeat;
}
.block-contacts .content .phone {
  font-size: 22px;
  margin: 0 0 10px 0;
}
.block-contacts .content .copyright {
  font-size: 13px;
}
.form ul {
  padding: 0;
  margin: 10px 0 40px 0;
}
.form ul li > .title {
  height: 34px;
  line-height: 34px;
  width: 300px;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  padding-top: 4px;
}
.form ul.requisites li > .title {
  width: 500px;
}
.form ul.vertical li {
  margin: 10px 0;
}
.form ul.vertical li .title {
  line-height: 24px;
  height: 24px;
}
.form ul.photos {
  overflow: hidden;
  width: 1110px;
}
.form ul.photos li {
  list-style: none;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
}
.form ul.photos li:first-child {
  border: 2px solid #f48a00;
  margin: 0 16px 16px 0;
}
.form ul.photos li img {
  display: block;
}
.form ul.photos li .remove-photo {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  padding: 2px 10px;
}
.form ul.photos li .remove-photo:hover {
  text-decoration: underline;
}
.form .ta-r {
  text-align: right;
  width: 580px;
}
.form .input_base {
  padding: 0 10px;
  font-size: 14px;
  box-sizing: content-box;
}
.form .input_base:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #f48a00;
}
.form input[type="text"],
.form input[type="password"] {
  padding: 0 10px;
  font-size: 14px;
  box-sizing: content-box;
  height: 34px;
  line-height: 34px;
  width: 255px;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #f48a00;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus {
  height: 36px;
  line-height: 36px;
  padding: 0 11px;
}
.form .ui-spinner {
  position: relative;
}
.form .ui-spinner .ui-spinner-input {
  height: 34px;
  line-height: 34px;
  width: 100px;
  margin: 0;
  background: #ffffff;
  border-radius: 0;
  padding: 0 10px;
}
.form .ui-spinner .ui-spinner-button {
  cursor: pointer;
}
.form .ui-spinner .ui-spinner-button.ui-spinner-up {
  position: absolute;
  border: none;
  top: 4px;
  right: 5px;
  width: 24px;
  height: 12px;
  display: block;
  background: url(../_images/form-sprite.png) no-repeat -37px 0;
}
.form .ui-spinner .ui-spinner-button.ui-spinner-down {
  position: absolute;
  border: none;
  top: 17px;
  right: 5px;
  width: 24px;
  height: 12px;
  display: block;
  background: url(../_images/form-sprite.png) no-repeat -37px -11px;
}
.form .ui-spinner .ui-spinner-button .ui-button-text {
  display: none;
}
.form .ui-spinner .big-stars {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 18px;
  line-height: 37px;
  vertical-align: middle;
  margin-left: 10px;
}
.form .chosen-container {
  display: inline-block;
  width: 255px;
}
.form .chosen-container .chosen-drop {
  width: 277px;
}
.form .chosen-container .chosen-drop .chosen-search input {
  background: none;
}
.form .chosen-container .chosen-drop li {
  cursor: pointer;
}
.form .chosen-container .chosen-single {
  height: 36px;
  line-height: 36px;
  width: 255px;
  background: none;
  border: none;
  margin: 0;
  padding: 0 11px;
  border: 1px solid #aaaaaa;
  border-radius: 0;
}
.form .chosen-container .chosen-single div b {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 5px;
  background: url(../_images/form-sprite.png) no-repeat 0 0;
  cursor: pointer;
}
.form textarea {
  padding: 0 10px;
  font-size: 14px;
  box-sizing: content-box;
  padding: 5px 10px;
  height: 150px;
  resize: none;
  width: 97% ;
}
.form textarea:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #f48a00;
}
.form .btn {
  width: 158px;
  height: 36px;
  line-height: 36px;
  box-sizing: content-box;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background-color: #F48A00;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 2px #FFF;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.tabs {
  clear: both;
  margin: 10px 0 20px 0;
  padding: 0;
  overflow: hidden;
}
.tabs li {
  display: block;
  float: left;
  padding: 10px 20px;
  border-bottom: 1px solid #eeeeee;
}
.tabs li a {
  text-decoration: none;
  font-size: 14px;
  color: #038bb2;
  font-weight: 100;
}
.tabs li a:hover {
  color: #f48a00;
}
.tabs li.active {
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: none;
}
.tabs li.active a {
  color: #f48a00;
}
.services-table {
  border-collapse: collapse;
}
.services-table span.blue {
  color: #0066cc;
}
.services-table span.green {
  color: #009900;
}
.services-table span.gray {
  color: #6a6a6a;
}
.services-table td,
.services-table th {
  height: 50px;
  vertical-align: middle;
  padding: 5px 10px;
}
.services-table td {
  font-weight: 100;
}
.services-table .price {
  width: 450px;
  text-align: center;
  background: #fafafa;
  border-left: 1px solid #eeeeee;
}
.services-table td.name {
  background: #f4f4f4;
}
.services-table td.name .icon-question-sign {
  opacity: .4;
  cursor: pointer;
}
.services-table td.name .icon-question-sign:hover {
  opacity: .7;
}
.services-table th.price {
  background: #f4f4f4;
}
.services-table .actions {
  width: 150px;
  text-align: center;
}
.services-table .spacer td {
  height: 5px;
}
.chosen-container-multi {
  width: 281px !important;
}
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  position: absolute !important;
}
.messages-history {
  margin: 0;
  padding: 0;
  clear: both;
}
.messages-history li {
  display: block;
  border: 1px solid #eeeeee;
  padding: 5px;
  margin: 0 0 15px 0;
}
.messages-history li .date {
  border-bottom: 1px dashed #eeeeee;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
}
.big-stars.edit {
  margin: 10px 0 0 10px;
  padding-bottom: 6px;
}
.pager {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}
.pager li {
  display: inline-block;
  margin: 0 2px;
  border: 1px solid #038BB2;
}
.pager li.active {
  background: #038BB2;
}
.pager li.active span {
  font-size: 16px;
  color: #ffffff;
  padding: 3px 5px;
  display: block;
}
.pager li a {
  text-decoration: none;
  color: #038BB2;
  font-size: 13px;
  padding: 3px 5px;
  display: block;
}
.pager li a:hover {
  text-decoration: underline;
}
.cities.links a {
  text-decoration: none;
  color: #f48a00;
  display: inline-block;
  border-bottom: 1px dashed #f48a00;
  padding: 0 0 3px 0;
  margin: 0 10px 0 0;
}
.cities.links a.active {
  background: #f48a00;
  color: #ffffff;
  border-radius: 10px;
  padding: 2px 15px;
}
table.cities {
  width: 100%;
  margin: 50px 0 ;
}
table.cities td {
  vertical-align: top;
}
table.cities td h2 {
  background: #f48a00;
  display: inline-block;
  color: #ffffff;
  padding: 0 10px;
  margin: 20px 0 5px 0;
}
table.cities td ul {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
}
table.cities td ul li a {
  text-decoration: none;
  color: #414141;
  font-size: 14px;
  line-height: 20px;
}
table.cities td ul li a:hover {
  color: #038BB2;
  text-decoration: underline;
}
table.cities.regions td h2 {
  font-size: 13px;
  line-height: 23px;
}
#rooms-wrap .lbW-room-wrap {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #e6e6e7;
  overflow: hidden;
  position: relative;
}
#rooms-wrap .lbW-room-wrap:hover {
  background: #f2f2f3;
}
#rooms-wrap .lbW-room-wrap .lbW-room-photo-wrap {
  float: left;
  margin: 0 28px 0 0;
}
#rooms-wrap .lbW-room-wrap .lbW-room-photo-wrap .lbW-room-photo {
  border: 1px solid #e7e7e7;
  padding: 4px;
  background: #ffffff;
  display: block;
  width: 206px;
  height: 108px;
}
#rooms-wrap .lbW-room-wrap .lbW-room-price-wrap {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 16px;
  position: absolute;
  top: 85px;
  right: 431px;
}
#rooms-wrap .lbW-room-wrap .lbW-room-name-wrap {
  margin: 0 0 60px 0;
}
#rooms-wrap .lbW-room-wrap .lbW-room-name-wrap .lbW-room-name {
  color: #038bb2;
  font-size: 16px;
  font-family: Ubuntu;
}
#rooms-wrap .lbW-room-wrap .lbW-room-booking-button-wrap {
  position: absolute;
  right: 20px;
  top: 80px;
}
#rooms-wrap .lbW-room-wrap .lbW-room-booking-button-wrap .lbW-room-booking-button {
  display: inline-block;
  width: 144px;
  height: 38px;
  line-height: 38px;
  box-sizing: content-box;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background-color: #F48A00;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 2px #FFF;
  cursor: pointer;
}
#rooms-wrap .lbW-room-wrap .lbW-booking-form-wrap {
  clear: both;
  float: left;
  border-top: 1px dashed #cccccc;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  width: 100%;
  display: none;
}
#rooms-wrap .lbW-room-wrap .lbW-booking-form-wrap .send {
  display: inline-block;
  width: 144px;
  height: 38px;
  line-height: 38px;
  box-sizing: content-box;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  background-color: #F48A00;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: solid 2px #FFF;
  cursor: pointer;
  float: right;
}
#booking-tabs {
  background: none;
  border: none;
  padding: 0;
}
#booking-tabs .ui-tabs-nav {
  background: none;
  border: none;
  padding: 0;
}
#booking-tabs .ui-tabs-panel {
  padding: 0;
}
#booking-tabs #grid .header,
#booking-tabs #grid .room-wrap {
  padding: 10px 0;
}
#booking-tabs #grid .header:after,
#booking-tabs #grid .room-wrap:after {
  content: "";
  display: block;
  clear: both;
}
#booking-tabs #grid .header .new-room {
  font-size: 14px;
  padding: 4px 10px 5px 10px;
  display: inline-block;
  border: 1px dashed #4b862c;
  color: #4b862c;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 100;
}
#booking-tabs #grid .header .new-room:hover {
  background: #4b862c;
  color: #ffffff;
}
#booking-tabs #grid .header .callendar-wrap {
  float: left;
  width: 790px;
}
#booking-tabs #grid .header .callendar-wrap .days {
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 27px;
}
#booking-tabs #grid .header .callendar-wrap .days li {
  width: 70px;
  float: left;
  display: block;
  text-align: center;
}
#booking-tabs #grid .room-wrap {
  background: #fdfdfd;
  margin: 1px 0;
}
#booking-tabs #grid .name-wrap {
  float: left;
  width: 180px;
  padding: 0 10px;
}
#booking-tabs #grid .name-wrap .name {
  color: #000000;
}
#booking-tabs #grid .name-wrap .meta {
  margin: 5px 0 0 0;
  font-size: 12px;
}
#booking-tabs #grid .name-wrap .meta .count {
  margin: 0 5px 0 0;
}
.typeahead {
  z-index: 1051;
  margin-top: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}
.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
}
/****/
.form .ui-spinner-button .ui-icon {
  margin: -8px 0 0 5px;
}
#content .page_title {
  color: #fead00;
  font-size: 30px;
  font-family: 'ubunturegular';
  font-weight: normal;
  margin: 0px 0px 0px -7px;
}
#content .contacts_page {
  font-size: 18px;
  font-family: 'ubuntulight';
  margin: 0px 0px 0px -5px;
}
#content .contacts_page .conwrap {
  float: left;
  margin: 50px 0px 0px 100px;
}
#content .contacts_page .contitle {
  font-family: 'ubuntubold';
  color: #fead00;
  display: block;
  height: 50px;
  font-size: 18px;
  border-bottom: 1px solid #fead00;
  text-transform: uppercase;
}
#content .contacts_page .contitle span {
  margin: 0px 0px 0px 40px;
}
#content .contacts_page .email {
  margin: 50px 0px 0px 0px;
}
#content .contacts_page .email .contitle {
  background: url("../images/pages/contacts_mail.png") no-repeat;
  width: 291px;
}
#content .contacts_page .phone .contitle {
  background: url("../images/pages/contacts_phone.png") no-repeat;
  width: 217px;
  height: 44px;
  padding: 6px 0px 0px 0px;
}
#content .contacts_page .phone p {
  line-height: 134%;
}
#content .contacts_page .managers .contitle {
  background: url("../images/pages/contacts.png") no-repeat;
  width: 217px;
}
#content .contacts_page .managers .contitle .litle {
  display: block;
  font-family: 'ubunturegular';
  font-size: 16px;
  text-transform: lowercase;
}
#content .contacts_page p {
  font-family: 'ubuntulight';
  font-size: 15px;
  line-height: 174%;
}
#content .contacts_page .line {
  height: 320px;
}
.about_page {
  font-size: 14px;
  font-family: 'ubuntulight';
  margin: 0px 0px 0px -5px;
}
.about_page .orange {
  color: #fead00;
  font-family: 'ubuntubold';
  font-size: 18px;
}
.about_page .span {
  display: block;
  width: 960px;
  height: 1px;
  background: url("../images/pages/about_hr.png") no-repeat;
  margin: 30px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
}
.about_page .half {
  width: 47%;
  display: block;
}
.about_page .left {
  float: left;
}
.about_page .right {
  float: right;
}
.about_page .full {
  display: block;
}
.about_page .last {
  padding-bottom: 60px;
}
.about_page .contitle {
  font-family: 'ubuntubold';
  color: #fead00;
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #fead00;
  width: 345px;
  height: 20px;
}
.about_page .contitle span {
  margin: 0px 0px 0px 0px;
}
.about_page ul {
  list-style-image: url("../images/pages/about_bird.png");
  margin: 16px 0px 0px -18px;
}
.about_page ul li {
  width: 47%;
  height: 100px;
  vertical-align: top;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.moderation_info {
  padding: 0 10px;
  line-height: 20px;
  background: #fafff4;
  border: 2px solid #a3d49d;
  border-radius: 5px;
  margin-bottom: 10px;
}
