.clearfix { display: inline-block; height: 1%; }
.main-search .advantages li img, .social li, .counters li {
    display: inline; zoom: 1;
}
#full-hotels {
    zoom: 1;
}
#footer-title {
    padding-bottom: 2px;
}
#full-hotels h2 {
    zoom: 1;
    padding-bottom: 22px;
}
.search { float: left; margin-top: 8px !important; }
.main-search-input { margin-top: 2px !important; }
.main-search .advantages li {
    display: block;
    margin: 15px 0;
    zoom: 1;
    height: auto;
}
.main-search .advantages li span {
    display: block;
    height: auto;
    zoom: 1;
    position: relative;
    top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}
.main-search .advantages li .img {
    float: left;
}
#header-title .jQueryTextShadow {
    left: 5px !important;
    top: 4px !important;
}
.slide > a > .box > .title .jQueryTextShadow {
    left: 4px !important;
    top: 6px !important;
}
#footer-phone .jQueryTextShadow {
    left: 1px !important;
    top: 6px !important;
}
.edu #header-title .jQueryTextShadow {
    display: none !important;
}
.edu #footer-menus {
    position: absolute; top: 152px; left: 0;
}

/* Блог */
.blog h1 {
    display: inline;
    zoom: 1;
}
.blog-article {

}

.paginator {
    behavior: url(js/display-table.min.htc);
    -dt-display: table;
}
    .paginator li {
        -dt-display: table-cell;
        vertical-align: top;
    }
.paginator td a {
    font-size: 14px;
    text-decoration: none;
    padding: 7px 10px 11px;
    background: url(../_images/paginator-divider.png) no-repeat 0 50%;
}
.paginator td.first a, .paginator td.first span { background-image: none; }

.sorting-types {
    behavior: url(js/display-table.min.htc);
    -dt-display: table;
}
.sorting-types li {
    -dt-display: table-cell;
    vertical-align: top;
}
.sorting-types td a {
    font-size: 14px;
    text-decoration: none;
    padding: 7px 10px 11px;
    background: url(../_images/paginator-divider.png) no-repeat 0 50%;
}
.sorting-types td.first a, .sorting-types td.first span { background-image: none; }

.tags-box {
    behavior: url(js/display-table.min.htc);
    -dt-display: table;
}
.tags-box li {
    -dt-display: table-cell;
    vertical-align: middle;
}
.tags-box td {
    padding: 7px 10px 11px;
    background: url(../_images/paginator-divider.png) no-repeat 0 50%;
}
.tags-box td.first { background-image: none; }
.tags-box td i {
    display: inline;
    zoom: 1;
}

.hotel-page h1, .hotel-page h1 a {
    display: inline; zoom: 1;
}
.hotel-details .services-list {
    zoom: 1;
    margin-bottom: 2px;
}
.other-city-box {
    zoom: 1;
    margin: 0 -5px;
}
.other-city.main-hotels-list {
    zoom: 1;
    position: relative;
    margin: 0;
}