.to, .dots { text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.fl { float: left; }
.fr { float: right; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }
.ts-bk1 { text-shadow: 1px 1px 0 #334C60; }
.ts-wh1 { text-shadow: 1px 1px 0 #ddd; }
.ts-gr1 { text-shadow: 1px 1px 0 #777; }
.ts-grn1 { text-shadow: 1px 1px 0 #3C883F; }
.ts-grn2 { text-shadow: 1px 2px 0 #3C883F; }
.ts-bk2 { text-shadow: 1px 1px 0 #000; }
.ts-bk4 { text-shadow: 4px 0 0 #000; }
.hide { display: none; }

/* Внешние шрифты */
@font-face {
    font-family: "SEGOE UI";
    src: url('../fonts/segoeui.eot');
    src: local('☺'), url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SEGOE UI";
    src: url('../fonts/segoeuib.eot');
    src: local('☺'), url('../fonts/segoeuib.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "SEGOE UI";
    src: url('../fonts/segoeuii.eot');
    src: local('☺'), url('../fonts/segoeuii.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuii.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "SEGOE UI Semibold"; /* Semibold */
    src: url('../fonts/seguisb.eot');
    src: local('☺'), url('../fonts/seguisb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/seguisb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Intro";
    src: url('../fonts/intro_regular_alt.eot');
    src: url('../fonts/intro_regular_alt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/intro_regular_alt.svg') format('svg'),
    url('../fonts/intro_regular_alt.woff') format('woff'),
    url('../fonts/intro_regular_alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Intro";
    src: url('../fonts/intro_bold_alt.eot');
    src: url('../fonts/intro_bold_alt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/intro_bold_alt.svg') format('svg'),
    url('../fonts/intro_bold_alt.woff') format('woff'),
    url('../fonts/intro_bold_alt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Intro";
    src: url('../fonts/intro_regular_italic.eot');
    src: url('../fonts/intro_regular_italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/intro_regular_italic.svg') format('svg'),
    url('../fonts/intro_regular_italic.woff') format('woff'),
    url('../fonts/intro_regular_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "PT Sans Narrow";
    src: url('../fonts/pt_sans_narrow_bold-webfont.eot');
    src: url('../fonts/pt_sans_narrow_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pt_sans_narrow_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h3, h3 a {
    font: normal 21px/21px "Intro", sans-serif;
    color: #4e4e4e;
    margin-bottom: 20px;
}
h4, h4 a {
    font: normal 14px/14px "SEGOE UI Semibold", sans-serif;
    text-transform: uppercase;
}


/* Список отелей на главной */
.main-hotels-list {
    margin-bottom: 5px;
    list-style: none;
}
    .main-hotels-list li, .side-special-offer {
        float: left;
        margin: 0 0 19px 19px;
        width: 228px;
        border: 0px solid #DDDDDD;
        background: url(../_images/main-hotels-sh.png) no-repeat 50% 100%;
        padding-bottom: 11px;
        position: relative;
    }
    .main-hotels-list li.no-ml, .side-special-offer {
        margin-left: 0;
    }
        .main-hotels-list li a, .side-special-offer a {
            display: block;
            width: 204px;
            padding: 11px 11px 13px;
            border: 1px solid #CCCBCB;
            box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
            position: relative;
            z-index: 2;
            behavior: url(js/PIE.htc);
            text-align: right;
            text-decoration: none;
            background: #fff;
        }
        .main-hotels-list > li > a:hover, .side-special-offer a:hover {
            box-shadow: 0 0 8px #777; -moz-box-shadow: 0 0 8px #777; -webkit-box-shadow: 0 0 8px #777;
        }
        .main-hotels-list > li > a .header, .side-special-offer a .header {
            height: 98px;
            display: block;
        }
        .main-hotels-list > li > a .name, .side-special-offer a .name {
            font: 15px/20px "SEGOE UI Semibold", sans-serif;
            display: block;
            margin-bottom: 5px;
        }
        .main-hotels-list > li > a .city, .side-special-offer a .city {
            font-size: 14px;
            line-height: 16px;
            display: block;
            color: #4e4e4e;
            margin-bottom: 7px;
        }
        .main-hotels-list > li > a .img, .side-special-offer a .img {
            display: block;
            position: relative;
            padding: 6px 0 3px;
            background: url(../_images/main-hotels-bg.png) no-repeat 0 0;
            margin: -7px -12px 8px;
        }
        .main-hotels-list > li > a img, .side-special-offer a img {
            display: block;
        }
        .main-hotels-list > li > a .price, .side-special-offer a .price {
            display: block;
            background: url(../_images/main-hotels-txt-bg.png);
            position: absolute;
            bottom: 3px;
            left: 0;
            right: 0;
            color: #fefefe;
            text-align: left;
            padding: 9px 13px 9px 13px;
            font-size: 15px;
            line-height: 20px;
        }
            .main-hotels-list > li > a .price strong, .side-special-offer a .price strong {
                font-size: 17px;
            }
        .main-hotels-list > li > a .link, .side-special-offer a .link {
            display: block;
            color: #4e4e4e;
            text-align: left;
            margin-left: 2px;
            padding: 1px 0 5px 20px;
            font-size: 14px;
            line-height: 14px;
            text-decoration: underline;
            background: url(../_images/pointer.png) no-repeat 0 2px;
        }
        .main-hotels-list > li > a:hover .link, .side-special-offer a:hover .link {
            text-decoration: none;
        }

/* Полный список отелей на главной */
#full-hotels-wrap {
    background: url(../_images/full-list-bg.png) no-repeat 50% 100%;
    margin-bottom: -59px;
}
#full-hotels {
    width: 970px;
    margin: 0 auto;
    padding: 28px 0 50px 0;
    position: relative;
}
    #full-hotels h2 {
        margin-bottom: 22px;
    }
        #full-hotels h2 a {
            font: 25px/25px "Intro", sans-serif;
            text-decoration: none;
        }
        #full-hotels h2 a:hover { text-decoration: underline; }

    #full-hotels-panel {
        position: relative;
    }

    .full-hotels-list {
        overflow: hidden;
        margin-bottom: 27px;
        position: relative;
    }
        .full-hotels-list .column {
            float: left;
            width: 150px;
            margin-left: 14px;
            list-style: none;
        }
        .full-hotels-list .column:first-child {
            margin-left: 0;
        }
        .full-hotels-list .column > li > a {
            font-size: 14px;
            line-height: 19px;
            text-decoration: none;
        }
            .full-hotels-list .column > li > a:hover { text-decoration: underline; }

        .full-hotels-map {
            min-height: 247px;
            margin-bottom: 27px;
            line-height: 19px;
        }

        .full-hotels-map a {
            text-decoration: none;
        }
        .full-hotels-map a:hover {
            text-decoration: underline;
        }

        .collapse-btn {
            position: absolute;
            right: 0;
            top: 32px;
            font-size: 15px;
            line-height: 15px;
            cursor: pointer;
        }

.tab-headers.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    list-style: none;
}
    .tab-headers.buttons li {
        float: left;
        margin-left: 15px;
    }
    .towns-list-link, .show-on-map-link {
        display: block;
        background: url(../_images/buttons.png) no-repeat -170px 0;
        width: 67px;
        height: 43px;
        padding-top: 6px;
        padding-left: 72px;
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
    }
    .show-on-map-link { background-position: -323px 0; width: 76px; padding-left: 63px; }
    .towns-list-link:hover { background-position: -170px -60px; }
    .show-on-map-link:hover { background-position: -323px -60px; }

/* Показать список специальных предложений */
.show-offers-list {
    background: url(../_images/all-offers-bg.png) no-repeat 50% 0;
    width: 974px;
    height: 55px;
    margin: 0 -2px 30px;
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 45px;
    font-weight: bold;
    color: #fefefe;
    text-decoration: none;
}
    .show-offers-list:hover { opacity: 0.8; }

/* Полоска */
.page-divider {
    background: url(../_images/page-divider.png) no-repeat 50% 0;
    width: 970px;
    height: 5px;
    margin-bottom: 20px;
}

/* Две колонки на главной странице */
.main-columns {
    margin-bottom: 30px;
}
    .main-columns .main-column {
        width: 600px;
        float: left;
    }
    .main-columns .right-column {
        margin-left: 642px;
    }
    .main-columns .main-column p {
        margin: 20px 0;
        font-size: 13px;
        line-height: 17px;
    }


/* ---------------------------- Образовательный сайт ------------------------------------------ */
.edu h1 {

}
.left-side-article {
    margin-bottom: 35px;
    position: relative;
}
.edu .article h2, .edu .side-article h2, .dots-header,
.edu .article h2 a, .edu .side-article h2 a, .dots-header a {
    color: #005634;
    font: 21px/21px "SEGOE UI Semibold", sans-serif;
    padding-bottom: 14px;
    margin-bottom: 22px;
    text-transform: uppercase;
    background: url(../_images/dots.png) repeat-x 0 100%;
}
.left-side-article h3, .left-side-article h3 a {
    color: #2c8785;
    font: normal 17px/18px "Intro", sans-serif;
    margin-bottom: 12px;
}

.edu #header {
    background: url(../_images/edu-header-bg.jpg) no-repeat 50% 0;
}
.edu #content {
    padding: 0 0 398px;
    width: 970px;
    margin: 0 auto;
    position: relative;
}

.edu #footer {
    height: 483px;
    min-width: 970px;
    margin-top: -483px;
    position: relative;
    background: url(../_images/edu-footer-bg.png) no-repeat 50% 0;
}
    .edu #inner-footer {
        height: 408px;
        width: 970px;
        margin: 0 auto;
        padding-top: 75px;
        position: relative;
    }

.edu #logo {
    background: url(../_images/edu-logo.png) no-repeat;
    width: 396px;
    height: 100px;
    top: 37px;
}
.edu #header-title {
    line-height: 22px;
    position: relative;
}
    .edu #header-title .jQueryTextShadow {
        font: italic 19px/22px "Intro", sans-serif;
    }
.edu #slogan {
    top: 104px;
}
.edu #header-sh {
    background: url(../_images/edu-header-sh.png) repeat-x;
}

#header-phone {
    text-align: right;
    float: right;
    font: italic 23px/23px "Intro", sans-serif;
    color: #fefefe;
    margin-top: 15px;
    padding-left: 31px;
    background: url(../_images/icon-phone.png) no-repeat 0 50%;
}
    #header-phone .jQueryTextShadow {
        font: italic 23px/23px "Intro", sans-serif;
    }

.edu #footer-menus {
    margin-top: 88px;
}
.edu #footer-logo {
    background: url(../_images/edu-footer-logo.png) no-repeat;
    width: 313px;
    height: 78px;
    margin-left: -4px;
}
.edu #footer-slogan {
    color: #3c613f;
    font-size: 13px;
    line-height: 13px;
    left: 126px;
    top: 126px;
}
.edu #footer-title {
    top: 92px;
    left: 343px;
    color: #005634;
    font-size: 19px;
    line-height: 22px;
    font-style: italic;
}
.edu #footer-menus > div > h4, .edu #footer-menus > div > h4 a {
    color: #3c613f;
}

.edu #main {
    min-height: 200px;
    margin-bottom: 50px;
    margin-top: 9px;
}

.edu .side-article {
    margin-bottom: 45px;
}

/* Две колонки, EDU */
.edu-two-cols {
    margin-bottom: 40px;
}
    .edu-two-cols .edu-main-col {
        width: 625px;
        float: left;
    }
    .edu-two-cols .edu-side-col {
        width: 275px;
        margin-left: 695px;
    }

/* Список лекторов с сайдбаре */
.lectors-side-list {

}
    .lectors-side-list .item {
        overflow: hidden;
        margin-bottom: 25px;
    }
    .lectors-side-list .item h3 {
        margin-bottom: 18px;
    }
    .lectors-side-list .item h3 a, .lector-side-info h3 a {
        color: #005634;
        font-size: 15px;
        font-weight: bold;
        line-height: 17px;
        text-decoration: none;
    }
        .lectors-side-list .item h3 a:hover, .lector-side-info h3 a:hover { color: #66B82F; }
    .lectors-side-list .item .img {
        float: left;
        background: url(../_images/lector-sh.png) no-repeat 50% 100%;
        padding-bottom: 6px;
        position: relative;
    }
        .lectors-side-list .item img {
            display: block;
            border-radius: 3px;
            behavior: url(js/PIE.htc);
            position: relative;
            z-index: 0;
        }
    .lectors-side-list .item .text {
        margin-left: 92px;
    }
    .lectors-side-list .item .text p {
        font-size: 14px;
        line-height: 18px;
    }

.edu-btn-wrap {
    margin-top: 33px !important;
}
.edu-btn, .yellow-btn {
    display: inline-block;
    background: url(../_images/edu-btn.png) no-repeat 0 0;
    height: 51px;
    margin-right: 10px;
    padding: 0 15px 0 25px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
    .edu-btn i, .yellow-btn i {
        display: block;
        width: 10px;
        height: 51px;
        position: absolute;
        top: 0;
        right: -10px;
        background: url(../_images/edu-btn.png) no-repeat 100% 0;
    }
    .edu-btn img, .yellow-btn span {
        display: inline-block;
        line-height: 47px;
        vertical-align: middle;
    }
    .edu-btn span, .yellow-btn span {
        display: inline-block;
        font-size: 14px;
        font-family: "SEGOE UI Semibold", sans-serif;
        padding-left: 16px;
        line-height: 47px;
        vertical-align: middle;
    }
        .edu-btn:hover, .yellow-btn:hover { background-position: 0 100%; }
        .edu-btn:hover i, .yellow-btn:hover i  { background-position: 100% 100%; }

/* Карусель */
#edu-carousel-wrap {
    padding-bottom: 25px;
    background: url(../_images/edu-carousel-sh.png) no-repeat 50% 100%;
    position: relative;
    margin-bottom: 20px;
}
#edu-carousel {
    padding: 40px 53px 0;
    height: 164px;
    border: 2px solid #C2C1C1;
    border-radius: 8px;
    background: #fff;
    behavior: url(js/PIE.htc);
    position: relative;
    z-index: 0;
}
#edu-carousel-container {
    width: 860px;
    overflow: hidden;
    height: 128px;
    list-style: none;
}
.carousel-item {
    background: url(../_images/edu-carousel-item-sh.png) no-repeat 50% 100%;
    padding-bottom: 10px;
    float: left;
    margin: 0 10px;
}
    .carousel-item img {
        display: block;
        border: 1px solid #B0AFAE;
    }
#edu-carousel-left, #edu-carousel-right {
    display: block;
    background: url(../_images/edu-carousel-controls.png) no-repeat;
    width: 15px;
    height: 79px;
    position: absolute;
    left: 19px;
    top: 58px;
    z-index: 100;
    cursor: pointer;
}
#edu-carousel-right {
    left: auto;
    right: 19px;
    background-position: 100% 0;
}
#edu-carousel-left:hover, #edu-carousel-right:hover { opacity: 0.8; }

/* Заголовок страницы */
#edu-homepage-header {
    background: url(../_images/edu-main-sh.png) no-repeat 50% 100%;
    padding: 57px 0 67px;
    margin-bottom: 37px;
}
    .edu-top-cols {
        width: 970px;
        margin: 0 auto;
    }
    .edu-top-cols .main-col {
        width: 540px;
        float: left;
    }
        .edu-top-cols .main-col h1, .edu-top-cols .main-col h1 a {
            color: #005634;
            font: 25px/33px "SEGOE UI", sans-serif;
        }
        .edu-top-cols .main-col .edu-btn-wrap {
            margin-bottom: 0 !important;
        }
    .edu-top-cols .img-col {
        margin-left: 569px;
        background: url(../_images/edu-main-img-sh.png) no-repeat 50% 100%;
        padding-bottom: 23px;
    }
        .edu-top-cols .img-col img {
            display: block;
            padding: 2px;
            border: 1px solid #ADACAB;
        }

/* Внутрення страница */
#edu-page-header {
    padding: 57px 0 0;
    margin-bottom: 20px;
}
    .seminar-details {
        margin-top: 15px;
        list-style: none;
    }
        .seminar-details li {
            margin: 5px 0;
        }
        .seminar-details li strong {
            font: 19px/19px "SEGOE UI Semibold", sans-serif;
            font-weight: normal;
        }
        .seminar-details li {
            font: 19px/19px "SEGOE UI", sans-serif;
        }

/* Три колонки */
.edu-three-cols {

}
    .edu-three-cols .edu-main-col {
        width: 475px;
        float: left;
        margin-right: 37px;
    }
    .edu-three-cols .edu-side-col1 {
        width: 210px;
        float: left;
    }
    .edu-three-cols .edu-side-col2 {
        width: 210px;
        float: right;
    }

.lector-big-img {
    background: url(../_images/lector-big-sh.png) no-repeat 50% 100%;
    padding-bottom: 17px;
    position: relative;
    margin-bottom: 7px;
}
    .lector-big-img img {
        display: block;
        border-radius: 8px;
        behavior: url(js/PIE.htc);
        position: relative;
        z-index: 0;
    }

/* ---------- */
.edu-top {
    width: 970px;
    margin: -20px auto -4px;
}
.edu-top h1, .edu-top h1 a {
    /*color: #005634;*/
    color: rgb(24, 113, 113);
    font:  bold 25px/30px "SEGOE UI", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Страница со списком лекторов */
.lectors-list {
    list-style: none;
}
    .lectors-list li {
        margin-bottom: 40px;
    }
        .lectors-list li .img {
            float: left;
            padding-bottom: 17px;
            background: url(../_images/lector-med-sh.png) no-repeat 50% 100%;
            position: relative;
        }
        .lectors-list li .img img {
            display: block;
            border-radius: 6px;
            behavior: url(js/PIE.htc);
            position: relative;
            z-index: 0;
        }
    .lectors-list li .text {
        margin-left: 207px;
    }

/* Список событий */
.events-list {
    list-style: none;
}
    .events-list > li {
        background: url(../_images/event-divider.png) no-repeat 50% 100%;
        padding-bottom: 37px;
        margin-bottom: 41px;
    }
        .events-list > li.last {
            background: none;
        }
    .events-list .info {
    }
    .events-list .date {
        float: left;
        width: 152px;
        height: 133px;
        background: url(../_images/big-date-bg.png) no-repeat;
    }
        .events-list .date .month {
            color: #fefefe;
            font: 16px/18px "SEGOE UI Semibold", sans-serif;
            text-transform: uppercase;
            display: block;
            text-align: center;
            margin: 10px 0 30px;
        }
        .events-list .date .day {
            color: #1b1c1c;
            font: bold 42px/44px "Intro", sans-serif;
            display: block;
            text-align: center;
        }
    .events-list .text {
        margin-left: 179px;
    }
        .events-list .text h2, events-list .text h2 a {
            text-transform: none !important;
        }
    .events-list .event-details {
        overflow: hidden;
        margin-top: -14px;
        list-style: none;
    }
        .events-list .event-details > li {
            float: left;
            margin-right: 26px;
            font-size: 14px;
            line-height: 19px;
            padding-left: 26px;
            background: url(../_images/icon-date.png) no-repeat 0 50%;
        }
        .events-list .event-details > li+li { background-image: url(../_images/icon-time.png); }
        .events-list .event-details > li+li+li { background-image: url(../_images/icon-length.png); padding-left: 22px; }

    .events-list .lectors-name {
        margin: 11px 0 -6px !important;
        background: url(../_images/icon-lector.png) no-repeat 0 50%;
        padding-left: 26px;
    }
        .events-list .lectors-name a {
            color: #3c613f;
            text-decoration: none;
        }
            .events-list .lectors-name a:hover {
                text-decoration: underline;
            }

    .events-list .buttons a {
        margin-left: 10px;
    }
    .events-list .share {
        padding-top: 10px;
    }

/* Оранжевый блок */
.orange-box-wrap {
    background: url(../_images/orange-box-sh.png) no-repeat 50% 100%;
    padding-bottom: 19px;
}
    .orange-box {
        border: 1px solid #D4D1CB;
        background: #FFF5D5;
        padding: 10px;
    }
    .orange-content {
        border: 1px solid #EE9D50;
        padding: 12px;
    }
        .orange-content h2, .orange-content h2 a {
            color: #d77d1a;
            font: bold 22px/24px "Intro", sans-serif;
            margin-bottom: 7px;
        }
        .orange-content p {
            color: #4e4e4e;
            font-size: 14px;
            line-height: 19px;
        }

/* Две колонки на внутренней странице сайта */
.page-two-cols {
    margin-bottom: 30px;
}
    .page-two-cols .main-col {
        float: right;
        width: 696px;
    }

    .page-two-cols .left-col {
        margin-right: 742px;
    }

/* Фильтр по отелям */
.hotels-filter {
    padding: 11px 15px 22px;
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    border: 1px solid #CCCBCB;
    position: relative;
    z-index: 2;
    behavior: url(js/PIE.htc);
    text-decoration: none;
    background: #fff;
}
    .hotels-filter h4, .hotels-filter h4 a {
        font: normal 15px/18px "SEGOE UI Semibold", sans-serif;
        text-transform: uppercase;
        background: url(../_images/dots.png) repeat-x 0 100%;
        padding-bottom: 6px;
        margin-bottom: 11px;
    }
    .hotels-filter-stars {
        margin-bottom: 20px;
        list-style: none;
    }
        .hotels-filter-stars li {
            display: block;
            margin-bottom: 3px;
        }
        .hotels-filter-stars label, .hotels-filter-accommodation label {
        }
        .hotels-filter-stars input {
            vertical-align: middle;
            margin: 0 auto !important;
        }
        .hotels-filter-stars .all, .hotels-filter-stars .star {
            font-size: 14px;
            overflow: hidden;
            text-indent: -9999px;
            white-space: nowrap;
            display: inline-block;
            width: 94px;
            vertical-align: top;
        }
        .hotels-filter-stars .all { text-indent: 0; }
        .hotels-filter-stars .stars-2 { background: url(../_images/stars-filter.png) no-repeat 0 1px; }
        .hotels-filter-stars .stars-3 { background: url(../_images/stars-filter.png) no-repeat 0 -20px; }
        .hotels-filter-stars .stars-4 { background: url(../_images/stars-filter.png) no-repeat 0 -41px; }
        .hotels-filter-stars .stars-5 { background: url(../_images/stars-filter.png) no-repeat 0 -62px; }

    .hotels-filter-accommodation {
        margin-bottom: 16px;
        list-style: none;
    }
        .hotels-filter-accommodation li {
            margin-bottom: 4px;
        }
        .hotels-filter-accommodation span {
            font-size: 14px;
            display: inline-block;
            vertical-align: top;
        }

.side-search-submit {
    background: url(../_images/buttons.png) no-repeat -191px -143px;
    width: 145px;
    height: 45px;
    border: none;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-left: 32px;
    font: 14px/14px "SEGOE UI Semibold", sans-serif;
    cursor: pointer;
    text-shadow: 1px 1px 0 #ddd;
}
    .side-search-submit:hover { background-position: -191px -203px; }
.side-search-submit-wrap {
    margin: 0 !important;
}

/* Реклама в сайдбаре */
.left-side-adv {
    border: 1px solid #89B8C3;
}
    .left-side-adv img {
        display: block;
    }

/* Информация о городе */
.city {
}
    .city h1, .city h1 a {
        font: bold 29px/29px "Intro", sans-serif;
        color: #fefefe;
        background: #18A1A1;
        display: inline-block;
        padding: 10px 11px;
    }
    .city p {
        font-size: 14px;
        line-height: 18px;
        margin: 12px 0 22px;
    }

/* Слайдер на странице города */
#city-slider-box {
    background: url(../_images/slider-sh.png) no-repeat 50% 100%;
    padding-bottom: 25px;
    position: relative;
    z-index: 1;
    width: 687px;
    margin: 0 auto;
}
#city-slider {
    box-shadow: 0 0 8px #777; -moz-box-shadow: 0 0 8px #777; -webkit-box-shadow: 0 0 8px #777;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    position: relative;
    z-index: 0;
    behavior: url(js/PIE.htc);
}
#city-slider-container {
    width: 687px;
    height: 239px;
    overflow: hidden;
}
.city-slide {
    float: left;
    width: 687px;
    height: 239px;
}
.city-slide > a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
}
.city-slide > a > img {
    display: block;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    position: relative;
    z-index: 0;
    behavior: url(js/PIE.htc);
}
.city-slide > a > .box {
    display: block;
    background: url(../_images/slider-txt-b.png);
    padding: 20px 40px;
    position: absolute;
    top: 24px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.city-slide > a > .box > .title {
    display: block;
    color: #fefefe;
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.city-slide > a > .box > .title > .jQueryTextShadow {
    white-space: nowrap;
}
.city-slide > a > .box > .info {
    display: block;
    color: #fefefe;
    font-size: 14px;
}

#left-city-slider-btn, #right-city-slider-btn {
    width: 19px;
    height: 30px;
    background: url(../_images/slider-controls.png) no-repeat;
    position: absolute;
    left: 15px;
    top: 103px;
    z-index: 100;
    cursor: pointer;
}
#right-city-slider-btn {
    left: auto;
    right: 15px;
    background-position: 100% 0;
}
#left-ity-slider-btn:hover, #right-city-slider-btn:hover { opacity: 0.8; }
#city-slider-pager {
    position: absolute;
    right: 22px;
    bottom: 15px;
    z-index: 10;
}
#city-slider-pager a {
    display: block;
    width: 13px;
    height: 14px;
    background: url(../_images/slider-controls.png) no-repeat -56px 0;
    float: left;
    margin-left: 5px;
}
#city-slider-pager a.selected { background-position: -36px 0; }
#city-slider-pager a span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -9999px;
}


.sorting-results {
    position: relative;
    list-style: none;
}
    .sorting-results > li {
        margin-bottom: 10px;
        position: relative;
        display: block;
    }
        .sorting-results > li > a {
            box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
            position: relative;
            background: #fff;
            border: 1px solid #CCCBCB;
            z-index: 0;
            behavior: url(js/PIE.htc);
            display: block;
            overflow: hidden;
            text-decoration: none;
        }
            .sorting-results > li > a:hover {
                box-shadow: 0 0 8px #777; -moz-box-shadow: 0 0 8px #777; -webkit-box-shadow: 0 0 8px #777;
            }
        .sorting-results .text {
            float: left;
            padding: 13px 18px 13px 18px;
            width: 340px;
            position: relative;
        }
            .sorting-results .name {
                font: bold 17px/19px "Intro", sans-serif;
                color: #2c8785;
                width: 290px;
                display: inline-block;
            }
            .sorting-results .city {
                display: block;
                color: #18a1a1;
                font-size: 14px;
                margin: 3px 0 8px 0;
            }
            .sorting-results .stars {
                position: absolute;
                right: 20px;
                top: 13px;
            }
            .sorting-results .type, .sorting-results .number-of-rooms {
                font-size: 14px;
                display: block;
            }
            .sorting-results .link {
                display: block;
                padding: 1px 0 5px 20px;
                font-size: 14px;
                line-height: 16px;
                text-decoration: underline;
                background: url(../_images/pointer.png) no-repeat 0 2px;
            }
                .sorting-results a:hover .link { text-decoration: none; }

            .sorting-results .services {
                overflow: hidden;
                margin: 12px 0 9px;
                list-style: none;
            }
            .sorting-results .services > li {
                float: left;
                margin-right: 3px;
                margin-bottom: 3px;
            }
                .sorting-results .services > li img {
                    display: block;
                }


        .sorting-results .img {
            float: right;
            position: relative;
        }
            .sorting-results .img img {
                display: block;
            }
            .sorting-results .img .price {
                display: block;
                background: url(../_images/main-hotels-txt-bg.png);
                position: absolute;
                bottom: 25px;
                right: 0;
                color: #fefefe;
                padding: 5px 13px 8px 13px;
                font-size: 20px;
                line-height: 25px;
            }
                .sorting-results .img .price strong {
                    font-size: 23px;
                }

/* Постраничная навигация */
.paginator-wrap {
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    position: relative;
    background: #fff;
    border: 1px solid #CCCBCB;
    z-index: 0;
    behavior: url(js/PIE.htc);
    margin-bottom: 30px;
}
.paginator {
    display: table;
    width: 100%;
    text-align: center;
    list-style: none;
}
    .paginator li {
        display: table-cell;
        vertical-align: top;
    }
    .paginator a, .paginator span {
        display: block;
        font-size: 14px;
        text-decoration: none;
        padding: 7px 10px 11px;
        background: url(../_images/paginator-divider.png) no-repeat 0 50%;
    }
    .paginator a:hover, .paginator .current {
        background: #18A1A1;
        color: #fefefe;
    }
    .paginator li:first-child a, .paginator .first, .paginator .next { background-image: none; }

/* Список специальных предложений */
.special-offers h1, .special-offers h2,
.special-offers h1 a, .special-offers h2 a{
    font: bold 18px/19px "Intro", sans-serif;
    color: #fefefe;
    background: #18A1A1;
    display: inline-block;
    padding: 8px 10px;
    margin-bottom: 10px;
}

.special-offers-list {
    list-style: none;
}
    .special-offers-list li {
        width: 219px;
    }
    .special-offers-list li a {
        width: 195px;
    }
    .special-offers-list > li > a .img, .side-special-offer a .img {
        padding: 5px 0 3px;
        background: url(../_images/special-offers-bg.png) no-repeat 0 0;
        margin: -7px -12px 8px -12px;
    }
    .special-offers-list > li > a .price, .side-special-offer a .price {
        font-size: 14px;
        line-height: 19px;
    }
    .special-offers-list > li > a .price strong, .side-special-offer a .price strong {
        font-size: 16px;
    }

/* Блок всех городов на странице специальных предложений */
.all-cities-wrap {
    background: url(../_images/slider-sh.png) no-repeat 50% 100%;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
}
.all-cities-box {
    border: 1px solid #CCCBCB;
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    position: relative;
    z-index: 2;
    behavior: url(js/PIE.htc);
    background: #FFF5D5;
    padding: 20px 20px 115px;
}
.all-cities-box .tab-headers.buttons {
    position: absolute;
    left: 10px;
    bottom: 30px;
}
.full-cities-list {

}
    .full-cities-list h3, .full-cities-list h3 a {
        color: #2c8785;
        font: normal 18px/18px "Intro", sans-serif;
        margin-bottom: 12px;
    }
    .full-cities-list .column {
        float: left;
        width: 150px;
        padding-left: 5px;
        margin-left: 11px;
        list-style: none;
    }
    .full-cities-list .column.first {
        margin-left: 0;
    }
        .full-cities-list .column a {
            font-size: 14px;
            text-decoration: none;
            padding-bottom: 1px;
            display: block;
        }
        .full-cities-list .column a:hover {
            text-decoration: underline;
        }

/* Страница с описанием отеля */
.hotel-page {
    margin-bottom: 30px;
    padding: 0 5px;
}
.hotel-page h1, .hotel-page h1 a {
    font: bold 25px/25px "Intro", sans-serif;
    color: #fefefe;
    background: #18A1A1;
    display: inline-block;
    padding: 7px 13px 5px;
    margin-bottom: 13px;
    margin-right: 19px;
}
.big-stars {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 18px;
    line-height: 37px;
    vertical-align: middle;
}
    .big-stars i {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        margin-left: 3px;
        background: url(../_images/star-20.png);
    }

.hotel-details .hotel-header {
    position: relative;
    margin-bottom: 21px;
}
.hotel-details .address, .hotel-details .type, .hotel-details .number-of-rooms {
    display: block;
    font-size: 14px;
    line-height: 18px;
}

.hotel-details .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.grey-btn {
    display: inline-block;
    background: url(../_images/grey-btn.png) no-repeat 0 0;
    height: 32px;
    margin-left: 13px;
    margin-right: 10px;
    padding: 0 15px 0 25px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
    .grey-btn i {
        display: block;
        width: 10px;
        height: 32px;
        position: absolute;
        top: 0;
        right: -10px;
        background: url(../_images/grey-btn.png) no-repeat 100% 0;
    }
    .grey-btn b {
        display: block;
        height: 4px;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: -10px;
        background: url(../_images/grey-btn-sh.png) no-repeat 50% 0;
    }
    .grey-btn img {
        display: inline-block;
        line-height: 31px;
        vertical-align: middle;
    }
    .grey-btn span {
        display: inline-block;
        font-size: 14px;
        font-family: "SEGOE UI Semibold", sans-serif;
        padding-left: 16px;
        line-height: 30px;
        vertical-align: middle;
    }
    .grey-btn:hover { background-position: 0 100%; }
    .grey-btn:hover i  { background-position: 100% 100%; }

/* Отели в других городах */
.other-city.main-hotels-list {
    margin: 0 -5px;
    padding: 0;
}

/* Список сервисов отеля */
.hotel-details .services-wrap {
    padding-bottom: 13px;
    background: url(../_images/hotels-page-services-sh.png) no-repeat 50% 100%;
    margin-bottom: 25px;
}
.hotel-details .services-box {
    border: 1px solid #CCCBCB;
    background: #fff;
    overflow: hidden;
    padding: 9px 20px 7px;
}
    .hotel-details .services-box h4, .hotel-details .services-box h4 a {
        float: left;
        text-transform: uppercase;
        font: normal 14px/16px "SEGOE UI", sans-serif;
        margin-right: 24px;
        padding-top: 7px;
    }
    .hotel-details .services-list {
        list-style: none;
        margin-left: 78px;
        margin-bottom: -8px;
        overflow: hidden;
    }
        .hotel-details .services-list li {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }

.hotel-details .description {
    margin-bottom: 32px;
}

/* Вкладки на странице описания отеля */
.details-tabs-box {
    margin: 20px 0 26px;
    background: url(../_images/orange-box-sh.png) no-repeat 50% 100%;
    padding-bottom: 19px;
}
.details-tab-headers {
    overflow: hidden;
    position: relative;
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
}
    .details-tab-headers li {
        float: left;
        display: block;
        height: 36px;
        width: 226px;
        background: url(../_images/tabs-bg.png) no-repeat -233px 0;
        position: relative;
        text-align: center;
        font: normal 14px/16px "SEGOE UI Semibold", sans-serif;
        color: #808080;
        cursor: pointer;
        text-transform: uppercase;
        padding-top: 24px;
    }
    .details-tab-headers li.first {
        margin-left: 1px;
    }
    .details-tab-headers li.current.first {
        width: 233px !important;
        background: url(../_images/tabs-bg.png) no-repeat 0 0 !important;
        margin-left: 0 !important;
        padding-right: 0 !important;
    }
    .details-tab-headers li.current {
        background: url(../_images/tabs-bg.png) no-repeat -12px 0 !important;
        width: 209px;
        margin-left: 12px;
        padding-right: 12px;
        color: #4e4e4e;
    }
        .details-tab-headers li.current i {
            display: block;
            width: 12px;
            height: 60px;
            position: absolute;
            top: 0;
            left: -12px;
            background: url(../_images/tabs-bg.png) no-repeat 100% 0 !important;
        }

.details-tab-panes {
    border: 1px solid #E2E2E2;
    padding: 35px 25px 35px 25px;
    margin-top: -4px;
    position: relative;
    z-index: 0;
    background: #fff url(../_images/tabs-pane-bg.png) repeat-x 0 0;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
    behavior: url(js/PIE.htc);
}
.orange-bold-link {
    color: #d26617;
    font: bold 14px/16px "SEGOE UI", sans-serif;
    padding-left: 5px;
}

/* Блог */
.blog {
    position: relative;
}
.blog .article-wrap {
    padding-bottom: 30px;
    margin-bottom: 30px;
    background: url(../_images/article-line-bg.png) no-repeat 50% 100%;
}
    .blog .article-wrap.last {
        background: none;
        padding-bottom: 20px;
    }
    .blog .article {
        margin-top: 25px;
        margin-bottom: 5px;
    }
.blog h1, .blog h1 a {
    font: bold 18px/19px "Intro", sans-serif;
    color: #fefefe;
    background: #18A1A1;
    display: inline-block;
    padding: 8px 10px;
}
.blog .article h2, .blog .article h2 a {
    font: normal 21px/21px "SEGOE UI Semibold", sans-serif;
    color: #1b1c1c;
    margin: 0;
}
.blog .article h3, .blog .article h3 a {
    font: normal 17px/17px "SEGOE UI Semibold", sans-serif;
    color: #1b1c1c;
    margin: 0;
}
.blog .article p {
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0;
}
.blog .article p strong {
    font-size: 15px;
}
.blog .article ul, .blog .article ol {
    overflow: hidden;
}

.blog .article .img {
    padding-bottom: 23px;
    background: url(../_images/blog-img-sh.png) no-repeat 50% 100%;
}
    .blog .article .img img {
        display: block;
        padding: 2px;
        border: 1px solid #AEADAC;
    }
    .blog .article .img.fl {
        margin: 0 32px 7px 0;
    }
    .blog .article .img.fr {
        margin: 0 0 32px 7px;
    }

.tags-wrap {
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    position: relative;
    background: #fff;
    border: 1px solid #CCCBCB;
    z-index: 0;
    behavior: url(js/PIE.htc);
    margin: 10px 0 20px;
}
.tags-box {
    display: table;
    width: 100%;
    text-align: center;
    list-style: none;
}
    .tags-box li {
        font-size: 14px;
        text-decoration: none;
        display: table-cell;
        padding: 7px 10px 11px;
        vertical-align: top;
        background: url(../_images/paginator-divider.png) no-repeat 0 50%;
    }
    .tags-box .tags a {
        color: #2c8785;
        text-decoration: none;
        padding: 0 3px;
    }
    .tags-box .tags a:hover {
        text-decoration: underline;
    }
    .tags-box li:first-child { background-image: none; }
    .tags-box .date, .tags-box .author {
        white-space: nowrap;
        vertical-align: middle;
    }
    .tags-box .date i, .tags-box .author i, .tags-box .tags i {
        display: inline-block;
        padding-left: 12px;
        background: url(../_images/icon-time.png) no-repeat 0 0;
        vertical-align: top;
        width: 17px;
        height: 17px;
    }
    .tags-box .author i { background-image: url(../_images/icon-lector.png); }
    .tags-box .tags i { background-image: url(../_images/icon-tag.png); }

/* Ссылки в сайдбаре */
.left-side-links {
    list-style: none;
}
    .left-side-links li {
        margin-bottom: 5px;
    }
    .left-side-links li a {
        font-size: 14px;
        line-height: 18px;
    }

/* Личный кабинет */
.cabinet {
    position: relative;
}
.cabinet .article-wrap {
    padding-bottom: 12px;
    margin-bottom: 23px;
    background: url(../_images/cabinet-block-sh.png) no-repeat 50% 100%;
}
.cabinet .article {
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    background: #fff;
    border: 2px solid #CCCBCB;
    position: relative;
    z-index: 0;
    behavior: url(js/PIE.htc);
    padding: 20px 25px 25px 20px;
}

/* Левая навигация */
.left-nav {
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    background: #fff;
    border: 1px solid #CCCBCB;
    position: relative;
    z-index: 0;
    behavior: url(js/PIE.htc);
    margin-bottom: 45px;
    list-style: none;
}
    .left-nav > li {
        background: #ffffff; 
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f4 100%);  
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f4));  
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f4 100%);  
        background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f4 100%);  
        background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f4 100%);  
        background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f4 100%);  
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f4',GradientType=0 ); /* IE6-8 */
        -pie-background:linear-gradient(#ffffff, #f5f5f4);
        behavior: url(js/PIE.htc);
        position: relative;
        z-index: 0;
        display: block;
        border-top: 1px solid #CCCBCB;
    }
    .left-nav > li:first-child {
        border-top: none;
    }
        .left-nav > li > a {
            color: #2c8785;
            text-transform: uppercase;
            font-size: 14px;
            padding: 17px 20px 19px;
            display: block;
        }

    .left-nav .level-1 {
        background: #fff url(../_images/left-nav-top-bg.png) no-repeat 50% 0;
        padding: 12px 0;
        border-top: 1px solid #CCCBCB;
        list-style: none;
    }
        .left-nav .level-1 > li {
            margin: 0 12px;
            display: block;
        }
            .left-nav .level-1 > li > a {
                display: block;
                padding-left: 25px;
                font-size: 14px;
                text-decoration: none;
                background: url(../_images/plus-minus.png) no-repeat -487px 2px;
            }
            .left-nav .level-1 > li.active > a {
                background-position: 0 50%;
            }

        .left-nav .level-2 { margin-bottom: -5px; list-style: none; }
        .left-nav .level-2 > li {
            margin: 5px 0 5px 7px;
            display: block;
            padding-left: 7px;
            padding-bottom: 5px;
            background: url(../_images/left-nav-bottom-bg.png) no-repeat 0 100%;
        }
        .left-nav .level-2 > li.last {
            background: none;
        }
            .left-nav .level-2 > li > a {
                display: block;
                padding-left: 25px;
                font-size: 14px;
                text-decoration: none;
                background: url(../_images/plus-minus.png) no-repeat -487px 2px;
            }

/* Предложение в сайдбаре в кабинете */
.cabinet-left-offer {
    width: 228px;
    background: url(../_images/main-hotels-sh.png) no-repeat 50% 100%;
    padding-bottom: 11px;
    position: relative;
}
    .cabinet-left-offer a {
        display: block;
        width: 226px;
        padding: 11px 0 13px;
        border: 1px solid #CCCBCB;
        box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
        position: relative;
        z-index: 2;
        behavior: url(js/PIE.htc);
        text-decoration: none;
        background: #fff;
    }
        .cabinet-left-offer a:hover {
            box-shadow: 0 0 8px #777; -moz-box-shadow: 0 0 8px #777; -webkit-box-shadow: 0 0 8px #777;
            text-decoration: none;
        }
    .cabinet-left-offer .name {
        font: normal 17px/18px "Intro", sans-serif;
        color: #1b1c1c;
        display: block;
        padding: 10px 11px 25px;
        background: url(../_images/left-img-bottom-bg.png) no-repeat 50% 100%;
        margin-bottom: 1px;
        text-align: center;
    }
    .cabinet-left-offer img {
        display: block;
    }
    .cabinet-left-offer .link {
        color: #4e4e4e;
        font-size: 14px;
        display: block;
        background: url(../_images/left-nav-top-bg.png) no-repeat 50% -1px;
        padding: 10px 17px 4px;
        text-decoration: underline;
    }
        .cabinet-left-offer a:hover .link {
            text-decoration: none;
        }

/* Статусы */
.info-message, .important-message, .very-important-message, .confirm-message, .attention-message {
    padding: 5px 55px 5px 63px;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #BACFED url(../_images/blue-bg.gif);
    border: 1px solid #d3d4d6;
    position: relative;
    z-index: 0;
    behavior: url(js/PIE.htc);
}
.important-message {
    background: #FDF1C8 url(../_images/yellow-bg.gif);
    border: 1px solid #f2d366;
}
.very-important-message {
    background: #FCB4B3 url(../_images/red-bg.gif);
    border: 1px solid #e57775;
}
.confirm-message {
    background: #CDECB8 url(../_images/green-bg.gif);
    border: 1px solid #d3d4d6;
}
.attention-message {
    background: url(../_images/icon-check-big.png) no-repeat 14px 50%;
    border: none;
    margin-bottom: 22px;
}
.info-message p, .important-message p, .very-important-message p, .confirm-message p, .attention-message p {
    margin: 5px 0 !important;
    color: #0e427b;
    padding: 0 !important;
    font-size: 14px;
    line-height: 18px;
}
.important-message p {
    color: #816700;
}
.very-important-message p {
    color: #520700;
}
.confirm-message p {
    color: #355a14;
}
.attention-message p {
    color: #6b9a2f;
}

.info-message b, .important-message b,
.very-important-message b, .confirm-message b {
    display: block;
    content: " ";
    width: 26px;
    height: 26px;
    background-image: url("../_images/icons-for-blocks.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: 17px;
    z-index: 0;
}
.important-message b { background-position: -38px 0; }
.very-important-message b { background-position: -76px 0; }
.confirm-message b { background-position: -114px 0; }

.info-message .close, .important-message .close,
.very-important-message .close, .confirm-message .close {
    display: block;
    width: 12px;
    height: 26px;
    background-image: url("../_images/icons-for-blocks.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 14px;
    cursor: pointer;
}
.info-message .close { background-position: -26px 0; }
.important-message .close { background-position: -64px 0; }
.very-important-message .close { background-position: -102px 0; }
.confirm-message .close { background-position: -140px 0; }

/* Внутрення страница, типичная */
.page {
}
.page h1, .page h2, .page h1 a, .page h2 a {
    font: bold 18px/19px "Intro", sans-serif;
    color: #fefefe;
    background: #18A1A1;
    display: inline-block;
    padding: 9px 10px 7px;
}
.page p {
    font-size: 14px;
    line-height: 18px;
    margin: 22px 0;
}

.white-box-wrap {
    padding-bottom: 12px;
    margin-bottom: 23px;
    background: url(../_images/cabinet-block-sh.png) no-repeat 50% 100%;
}
.white-box {
    box-shadow: 0 0 8px #BBB; -moz-box-shadow: 0 0 8px #BBB; -webkit-box-shadow: 0 0 8px #BBB;
    background: #fff;
    border: 1px solid #CCCBCB;
    position: relative;
    z-index: 0;
    behavior: url(js/PIE.htc);
    padding: 20px 25px 25px 20px;
}
.white-box h2, .white-box h2 a {
    font: normal 17px/18px "Intro", sans-serif;
    color: #4e4e4e;
    margin: 0 0 15px 0;
    background: none;
    padding: 0;
}

/* Стилизация элементов формы */
.form-elements {
    margin: -15px 0;
    list-style: none;
}
.form-elements li {
    margin: 15px 0;
    position: relative;
}
.form-elements li > .title {
    width: 135px;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
}
.input-text-wrap, .select-wrap, .textarea-wrap {
    display: inline-block;
    height: 24px;
    /*width: 366px;*/
    padding: 0 12px;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
    border: 1px solid #D6D6D6;
    border-top-width: 2px;
    box-shadow: 0 1px 2px #D5D5D5 inset;
    margin: 0 !important;
    position: relative;
    background: #f0f0f0; 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f0f0f0 0%, #f7f7f7 100%);  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#f7f7f7));  
    background: -webkit-linear-gradient(top,  #f0f0f0 0%,#f7f7f7 100%);  
    background: -o-linear-gradient(top,  #f0f0f0 0%,#f7f7f7 100%);  
    background: -ms-linear-gradient(top,  #f0f0f0 0%,#f7f7f7 100%);  
    background: linear-gradient(to bottom,  #f0f0f0 0%,#f7f7f7 100%);  
    -pie-background: linear-gradient(#f0f0f0, #f7f7f7);
    behavior: url(js/PIE.htc);
}

.textarea-wrap {
    height: auto;
    padding: 6px 12px;
}
    .textarea {
        overflow: auto;
        resize: none;
    }

.select-wrap {
    z-index: 2;
}
.jq-selectbox {
    width: 100%;
}
.jq-selectbox .text {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
    .jq-selectbox .trigger {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        right: -11px;
        top: 0;
        background: url(../_images/form-sprite.png) no-repeat 0 0;
        cursor: pointer;
    }
    .jq-selectbox .dropdown {
        top: 25px;
        left: -12px;
        right: -13px;
        margin: 0;
        padding: 0px 0;
        border: 1px solid #C6CBD0;
        border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
        background: #FFF;
        box-shadow: 0 0 8px #BBB;
        margin-left: -1px;
        position: relative;
        z-index: 9999;
        behavior: url(js/PIE.htc);
        list-style: none;
    }
    .jq-selectbox li {
        padding: 5px 10px 6px;
        color: #231F20;
        margin: 0 !important;
    }
    .jq-selectbox li.selected {
        background: #F5F5F5;
    }
    .jq-selectbox li:hover {
        background: #169696;
        color: #FFF;
    }
    .jq-selectbox li.disabled {
        color: #AAA;
    }
    .jq-selectbox li.disabled:hover {
        background: none;
    }

label {
    vertical-align: top;
}
.jq-radio, .jq-checkbox {
    background: url(../_images/form-sprite.png) no-repeat -72px -71px;
    width: 16px;
    height: 17px;
    margin-right: 9px;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
}
.jq-checkbox {
    background-position: -104px -71px;
}
.jq-radio.checked {
    background-position: -72px -7px;
}
.jq-checkbox.checked {
    background-position: -104px -8px;
}

.input-one-col, .input-two-cols {
    display: inline-block;
}
.input-one-col label {
    display: block;
    margin: 5px 0;
    vertical-align: top;
}
.input-two-cols label {
    margin: 5px 15px 5px 0;
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.input-three-cols label {
    width: 30%;
    margin: 3px 2% 3px 0;
    display: inline-block;
    vertical-align: top;
}


.captcha-img {
    display: block;
    margin-bottom: 20px;
}
.input-captcha-wrap {
    width: 155px;
}
    .input-captcha.placeholder {
        color: #4e4e4e !important;
        font-size: 14px;
        line-height: 16px;
    }
    .input-captcha::-webkit-input-placeholder {
        color: #4e4e4e !important;
        padding-top: 2px;
        font-size: 14px;
        line-height: 16px;
    }
    .input-captcha:-moz-placeholder {
        color: #4e4e4e !important;
        font-size: 14px;
        line-height: 16px;
    }


.jq-file {
}
    .jq-file .browse {
        display: inline-block;
        width: 130px;
        height: 36px;
        line-height: 33px;
        background: url(../_images/buttons.png) no-repeat -377px -143px;
        vertical-align: middle;
        text-align: center;
    }
    .jq-file:hover .browse {
        background-position: -377px -193px;
    }
    .jq-file .name {
        float: right !important;
        width: 360px;
        line-height: 33px;
        padding-left: 10px;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
    }


.spinner-wrap {
    width: 76px !important;
    padding-right: 28px !important;
}
    .spinner-wrap .ui-spinner-up, .spinner-wrap .ui-spinner-down {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 12px;
        display: block;
        background: url(../_images/form-sprite.png) no-repeat -37px 0;
    }
    .spinner-wrap .ui-spinner-down {
        background-position: -37px -12px;
        top: 12px;
    }
    .spinner-wrap .ui-spinner-up.ui-state-hover, .spinner-wrap .ui-spinner-down.ui-state-hover { opacity: 0.8; }
    .spinner-wrap .ui-icon { display: none; }


.tooltip-wrap {
    display: inline-block;
    position: relative;
    top: -5px;
    margin-left: 10px;
}
.tooltip-info {
    display: inline-block;
    position: relative;
    z-index: 999;
    width: 13px;
    height: 14px;
    background: url(../_images/form-sprite.png) no-repeat 100% 0;
}
.tooltip-info:hover {
    background-position: 100% -20px;
    cursor: pointer;
}
    .tooltip-box {
        position: absolute;
        top: 20px;
        left: 20px;
        display: none;
        border: 1px solid #FBD13D;
        background: #fff;
        padding: 15px;
        width: 200px;
    }
    .tooltip-info:hover .tooltip-box {
        display: block;
    }
    .tooltip-box .tooltip-header {
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
    }
    .tooltip-box .tooltip-text {
        font-size: 12px;
        line-height: 17px;
        display: block;
    }

button {
    border: none;
}

button.yellow-btn, button.dark-btn {
    display: inline-block;
    background: url(../_images/yellow-btn.png) no-repeat 0 0;
    height: 47px;
    margin-right: 10px;
    padding: 0 25px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
button.yellow-btn i, button.dark-btn i {
    display: block;
    width: 10px;
    height: 47px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../_images/yellow-btn.png) no-repeat 100% 0;
}
button.yellow-btn img, button.dark-btn img {
    display: inline-block;
    line-height: 44px;
    vertical-align: middle;
    padding-bottom: 2px;
}
button.yellow-btn span, button.dark-btn span {
    display: inline-block;
    font-size: 14px;
    font-family: "SEGOE UI Semibold", sans-serif;
    padding-left: 16px;
    line-height: 44px;
    vertical-align: middle;
    text-shadow: 1px 1px 0 #ddd;
    padding-bottom: 4px;
}
button.yellow-btn:hover, button.dark-btn:hover { background-position: 0 100%; }
button.yellow-btn:hover i, button.dark-btn:hover i  { background-position: 100% 100%; }

button.dark-btn { background-image: url(../_images/dark-btn.png); }
button.dark-btn i { background-image: url(../_images/dark-btn.png); }

.form-elements .buttons {
    margin-top: 40px;
}

.form-div {
    height: 2px;
    background: url(../_images/form-div.png) no-repeat 50% 0;
    margin: 15px 0;
}

.full-wb { width: 627px !important; }
.largest { width: 400px !important; }
.larger { width: 366px !important; }
.medium { width: 225px !important; }
.small { width: 155px !important; }
.smaller { width: 76px !important; }
.smallest { width: 60px !important; }

/* Добавление фотографий */
.input-four-cols {
    margin: 0 -22px -20px -6px;
    list-style: none;
}
.input-four-cols li {
    vertical-align: top;
    display: inline-block;
    width: 152px;
    margin: 0 6px 20px;
    text-align: center;
}
.input-four-cols .photo {
    margin-bottom: 5px;
    background: url(../_images/hotel-page-img-sh.png) no-repeat 50% 100%;
    padding-bottom: 8px;
}
.input-four-cols .photo img {
    display: block;
    border: 1px solid #CCCBCB;
}
.input-four-cols .text {
    text-align: center;
}
.input-four-cols .text .title {
    display: block;
    margin-bottom: 10px;
}
.input-four-cols .jq-file .name { display: none; }

/* Preview кнопки */
.preview-buttons {
    margin-bottom: 30px;
}
.preview-btn {
    width: 202px;
    height: 51px;
    display: inline-block;
    text-align: left;
    background: url(../_images/buttons.png) no-repeat;
    margin-left: 10px;
    padding: 10px 0 0 73px;
    font: 14px/17px "SEGOE UI Semibold", sans-serif;
    text-decoration: none;
}
    .preview-btn.start { background-position: 0 -277px; }
    .preview-btn.business { background-position: -297px -276px; }
    .preview-btn.start:hover { background-position: 0 -339px; }
    .preview-btn.business:hover { background-position: -297px -339px; }

.note {
    font-style: italic;
    display: block;
    margin-top: 10px;
    padding-right: 25px;
}

/* Иконки сервисов */
.icon-service {
    display: block;
    width: 29px;
    height: 29px;
    background: #fff url(../_images/service-icons.png) no-repeat;
    border: 1px solid #C5C5C5;
}
.service-1 { background-position: -20px -23px; }
.service-2 { background-position: -70px -24px; }
.service-3 { background-position: -119px -23px; }
.service-4 { background-position: -169px -23px; }
.service-5 { background-position: -219px -23px; }
.service-6 { background-position: -269px -23px; }
.service-7 { background-position: -318px -23px; }
.service-8 { background-position: -367px -23px; }

.service-9 { background-position: -20px -64px; }
.service-10 { background-position: -70px -64px; }
.service-11 { background-position: -119px -64px; }
.service-12 { background-position: -169px -64px; }
.service-13 { background-position: -219px -64px; }
.service-14 { background-position: -269px -64px; }
.service-15 { background-position: -318px -64px; }
.service-16 { background-position: -367px -64px; }

.service-17 { background-position: -20px -104px; }
.service-18 { background-position: -70px -104px; }
.service-19 { background-position: -119px -104px; }
.service-20 { background-position: -169px -104px; }
.service-21 { background-position: -219px -104px; }
.service-22 { background-position: -269px -104px; }
.service-23 { background-position: -318px -104px; }
.service-24 { background-position: -367px -104px; }

.service-25 { background-position: -20px -145px; }
.service-26 { background-position: -70px -145px; }
.service-27 { background-position: -119px -145px; }
.service-28 { background-position: -169px -145px; }
.service-29 { background-position: -219px -145px; }
.service-30 { background-position: -269px -145px; }
.service-31 { background-position: -318px -145px; }
.service-32 { background-position: -367px -145px; }

.service-33 { background-position: -20px -185px; }
.service-34 { background-position: -70px -186px; }
.service-35 { background-position: -119px -185px; }
.service-36 { background-position: -169px -185px; }
.service-37 { background-position: -219px -185px; }
.service-38 { background-position: -269px -185px; }
.service-39 { background-position: -318px -185px; }
.service-40 { background-position: -367px -185px; }